@charset "UTF-8";

:root {
    //default 변수
    //color
    --color-gray-0: #FFFFFF;
    --color-gray-1: #F7F7F7;
    --color-gray-2: #F2F2F2;
    --color-gray-3: #E6E6E6;
    --color-gray-3-2: #cccccc;
    --color-gray-4: #432b2b;
    --color-gray-5: #808080;
    --color-gray-6: #666666;
    --color-gray-7: #4D4D4D;
    --color-gray-8: #333333;
    --color-gray-9: #262626;
    --color-gray-10: #1A1A1A;
    --color-gray-11: #000000;
    
    //용도에 따른 값
    --color-black: var(--color-gray-11);
    --color-white: var(--color-gray-0);
    --color-yellow-0: #FFFDEF;
    --color-yellow-1: #FFF9DE;
    --color-yellow-2: #FFF7CE;
    --color-yellow-3: #FFE25A;
    --color-green-0: #EEFAF7;
    --color-green-1: #51C8AF;
    --color-red: #FF6955;

    //text
    // --text-title-extra-large3: 130px;
    // --text-title-extra-large2: 120px;
    // --text-title-extra-large: 80px;
    // --text-title-xxxlarge: 64px;
    // --text-title-xxlarge: 56px;
    // --text-title-xlarge: 48px;
    // --text-title-large: 46px;
    // --text-title-medium: 40px;
    // --text-title-small: 34px;
    // --text-title-xsmall: 32px;
    // --text-title-xxsmall: 24px;

    // --text-body-xxxlarge: 30px;
    // --text-body-xxlarge: 28px;
    // --text-body-xlarge: 26px;
    // --text-body-large: 24px;
    // --text-body-medium: 20px;
    // --text-body-small: 18px;
    // --text-body-xsmall: 16px;
    // --text-body-xxsmall: 15px;
    // --text-body-xxxsmall: 14px;
    // --text-body-tiny: 13px;
    // --text-body-tiny2: 12px;

    --text-body-default: 10px;

    //line-height
    --base-line-height: 1.4;

    //letter-spacing
    --base-letter-spacing: -0.25px;

    //text-color
    --color-text-bolder: var(--color-black);
    --color-text-basic: var(--color-gray-10);
    --color-text-light: var(--color-gray-3);
    --color-text-white: var(--color-white);

    //border-color
    --color-border-basic: var(--color-gray-3);
    --color-border-light: var(--color-gray-2);
    --color-border-lighter: var(--color-gray-1);
    --color-border-white: var(--color-white);

    //breakpoint
    // --breakpoint-mobile-small: 360px;
    // --breakpoint-mobile-medium: 600px;
    // --breakpoint-mobile-large: 768px;
    // --breakpoint-tablet: 1024px;
    // --breakpoint-tablet-large: 1280px;
    // --breakpoint-pc: 1920px;
}