@charset "UTF-8";

//font
// 본문(paragraph) 사이즈
$body-fz: var(--text-body-default);
$body-fz-mo: var(--text-body-default-mo);

// 본문(paragraph) 기본 컬러
$base-color: var(--color-text-basic);

// 기본 행간 비율
$line-height: var(--base-line-height);

// 본문 행간 비율
$base-line: calc($body-fz * 1.4);

// 적용 웹 폰트
$font-ko: 'Pretendard';

$font-family-ko: $font-ko, sans-serif;
$pretendard: $font-ko, sans-serif;

//경로 url
// $base-url: '/assets/';
$base-url: '../';