@charset "UTF-8";
@import "./util";
@import "./base/";
@import "./layout";

$img-url: "../img/content";
$ico-url: "../img/icon";

.wrap{word-break: keep-all;}

.sec-tit{margin-bottom: 50px;text-align: center;}
.sec-tit .sub-tit{margin-bottom: 4px; font-size: 24px; font-weight: 700;}
.sec-tit .tit{font-size: 42px; font-weight: 700;}
.sec-tit .tit ~ .desc{margin-top: 16px;}

.notice-list{font-size: 14px;}
.notice-list > li{position: relative; padding-left: 20px;}
.notice-list > li::before{content: ''; position: absolute; top: 8px; left: 8px; display: block; width: 4px; height: 4px; border-radius: 50%; background-color: #fff;}
.notice-txt{position: relative; padding-left: 20px; font-size: 14px;}
.notice-txt::before{content: ''; position: absolute; top: 8px; left: 8px; display: block; width: 4px; height: 4px; border-radius: 50%; background-color: #fff;}

.list-box{display: flex; gap: 20px;}
.list-box .item{padding: 30px 30px 40px; flex: 1; border-radius: 30px; background: linear-gradient(180deg,rgba(15, 20, 53, 1) 0%, rgba(15, 47, 104, 1) 100%);}
.list-box .item .img-wrap + .txt-wrap{margin-top: 20px;}
.list-box .item .num{display: inline-block; margin-bottom: 12px; font-size: 16px; font-weight: 700; color: #216EF3;}
.list-box .item .tit{font-size: 24px; font-weight: 700;}
.list-box .item .desc{margin-top: 12px; font-size: 16px;}
.list-box .item .notice-list{margin-top: 20px;}

.list-box.column{flex-wrap: wrap;}
.list-box.column .item{width: calc(50% - 10px); flex: none;}

//ico
[class*="ico-"]::before{content: ''; display: block; background-repeat: no-repeat; background-size: 100% auto; background-position: center;}
.ico{
    @for $i from 1 through 4 {
        $idx : if($i < 10, '0#{$i}', '#{$i}');
        $name: 'value';

        &-#{$name}#{$idx}::before{
            margin: 0 auto 20px;
            width: 112px;
            height: 112px;
            background-image: url('#{$ico-url}/ico-#{$name}#{$idx}.png');
        }
    }

    @for $i from 1 through 4 {
        $idx : if($i < 10, '0#{$i}', '#{$i}');
        $name: 'process';

        &-#{$name}#{$idx}::before{
            width: 36px;
            height: 36px;
            background-image: url('#{$ico-url}/ico-#{$name}#{$idx}.png');
        }
    }

    @for $i from 1 through 4 {
        $idx : if($i < 10, '0#{$i}', '#{$i}');
        $name: 'feature';

        &-#{$name}#{$idx}::before{
            margin-bottom: 24px;
            width: 50px;
            height: 50px;
            background-image: url('#{$ico-url}/ico-#{$name}#{$idx}.png');
        }
    }

    &-coin{
        display: block;
        margin: 0 auto 4px;
        width: 80px;
        height: 80px;

        &::before{
            width: 100%;
            height: 100%;
            background-image: url('#{$ico-url}/ico-coin.png');
        }
    }

    &-graph{
        display: block;
        margin: 0 auto 4px;
        width: 80px;
        height: 80px;

        &::before{
            width: 100%;
            height: 100%;
            background-image: url('#{$ico-url}/ico-graph.png');
        }
    }
}

// section
.sec-kv{height: 830px; @include bg('content/seckv-visual.png', $size: auto 100%);}
.sec-kv .inner{display: flex; align-items: center; justify-content: center; height: 100%;}
.sec-kv .txt-box{margin-top: 120px; margin-left: 90px; text-align: center;}
.sec-kv .txt-box .txt-wrap .tit{font-size: 54px; text-transform: uppercase;}
.sec-kv .txt-box .txt-wrap .tit strong{font-weight: 700;}
.sec-kv .txt-box .txt-wrap .desc{margin-top: 40px; font-size: 24px; text-transform: uppercase;}
.sec-kv .txt-box .btn-wrap{display: flex; justify-content: center; margin-top: 40px;}
.sec-kv .txt-box .btn-wrap .btn{display: flex; align-items: center; justify-content: center; width: 150px; height: 50px; font-size: 16px; font-weight: 700; border-radius: 30px;}
.sec-kv .txt-box .btn-wrap .btn.line{border: 1px solid #fff;}
.sec-kv .txt-box .btn-wrap .btn.line:hover{background-color: #216EF3; border-color: #216EF3;}
.sec-kv .txt-box .btn-wrap .btn + .btn{margin-left: 14px;}

// My Moment 생태계
.sec-01{position: relative; overflow: hidden;  padding: 60px 0; min-height: 400px;}
.sec-01 .txt-wrap{padding-right: 45%;}
.sec-01 .sub-tit{margin-bottom: 8px; font-size: 16px; line-height: 2; color: #216EF3;}
.sec-01 .tit{font-size: 42px; font-weight: 700;}
.sec-01 .desc{margin-top: 40px;}
.sec-01 .img-wrap{position: absolute; top: 0; right: 80px; width: 835px; z-index: -1;}

// My Moment의 핵심 가치
.sec-02{padding: 130px 0 150px;}

// 참여 방식 및 리워드
.sec-03{padding: 130px 0 150px;}

// 토큰 작동 구조  
.sec-04{padding: 130px 0 140px;}
// .sec-04 .process2 {position: relative; display: flex; align-items: center; margin: 0 auto; max-width: 1068px;}
// .sec-04 .process2 .line-wrap{margin: 0 auto;}
// .sec-04 .process2 .img-wrap li{position: absolute; top: 0; left: 0;}

.sec-04 .process{position: relative; margin: 0 auto; max-width: 1068px;}
.sec-04 .process > li:not(.line-wrap) {position: absolute;}
.sec-04 .process .first{top: 31.12%; left: 3.55%; width: 27.62%;}
.sec-04 .process .second{top: 19%; left: 37.82%;}
.sec-04 .process .third{top: 0; right: 0; width: 35.76%;}
.sec-04 .process .third .desc{margin-left: auto; margin-right: auto; width: 60%;}
.sec-04 .process .line-wrap{position: relative; z-index: -2;}

.sec-04 .process .first .circle{width: 140px; height: 140px; background-color: #BAD1F8;}
.sec-04 .process .first .circle .tit{font-size: 18px; color: #216EF3;}
.sec-04 .process .second .circle{padding: 42px; width: 256px; height: 256px; background-color: rgba(33, 110, 243, 0.3); border: 1px dotted #1D468B;}
.sec-04 .process .second .circle::after{width: 67%; height: 67%; background-color: rgba(33, 110, 243, 1);}
.sec-04 .process .second .circle .tit{padding: 0 30px; word-break: keep-all;}
.sec-04 .process .third .circle{width: 162px; height: 162px; background-color: #EA882D;}
.sec-04 .process .third .circle::after{width: 70%; height: 70%;}
.sec-04 .process .third .box-wrap:nth-child(1) .circle{background-color: rgba(234, 136, 45, 0.3);}
.sec-04 .process .third .box-wrap:nth-child(1) .circle::after{background-color: rgba(234, 136, 45, 1);}
.sec-04 .process .third .box-wrap:nth-child(2) .circle{background-color: rgba(53, 204, 156, 0.3);}
.sec-04 .process .third .box-wrap:nth-child(2) .circle::after{background-color: rgba(53, 204, 156, 1);}
.sec-04 .process .third .box-wrap + .box-wrap{margin-top: 34px;}

.sec-04 .process .circle{position: relative; margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 50%;}
.sec-04 .process .circle::after{content: ''; position: absolute; display: block; border-radius: 50%; z-index: -1;}
.sec-04 .process .circle .tit{font-size: 16px; font-weight: 700; text-align: center;}
.sec-04 .process .desc{margin-top: 12px; text-align: center; opacity: 0.8;}

.sec-04 .process .ico-process01::before{width: 32px; height: 32px;}
.sec-04 .process .ico-process02::before{margin-bottom: 3px;}
.sec-04 .process .ico-process04::before{margin-bottom: 6px; width: 26px; height: 26px;}

// 토큰의 특징 및 기능
.sec-05{padding: 60px 0 140px;}
.sec-05 .banner{position: relative; margin-top: 128px; padding: 40px 40px 68px; font-size: 42px; text-align: center; background: linear-gradient(280deg,rgba(21, 48, 96, 1) 0%, rgba(33, 110, 243, 1) 100%); border-radius: 30px;}
.sec-05 .banner::after{content: ''; position: absolute; bottom: -100px; right: -10px; width: 190px; height: 190px; @include bg('icon/ico-coin.png', $size: 100% auto);}
.sec-05 .banner .logo{display: inline-block; margin-bottom: 8px; width: 145px; height: 26px; @include bg('content/logo-mymoment.png', $size: 100% auto);}


// 토큰 개요 및 분배
.sec-06{padding: 130px 0 50px;}
.sec-06 .table-wrap {padding: 40px 52px; font-size: 18px; background: linear-gradient(180deg,rgba(15, 20, 53, 1) 0%, rgba(15, 47, 104, 1) 100%); border-radius: 30px;}
.sec-06 .table-wrap .table-tit{margin-bottom: 20px; font-size: 24px; font-weight: 700;}
.sec-06 .table-wrap .thead { display: flex; }
.sec-06 .table-wrap .tbody ul { display: flex; }
.sec-06 .table-wrap .tfoot { display: flex; }

.sec-06 .table-wrap .th{display: flex; align-items: center; flex-shrink: 0; padding: 16px 24px; min-width: 150px; width: 12.58%; font-weight: 700; background-color: #141435; word-break: keep-all;}
.sec-06 .table-wrap .td{display: flex; align-items: center; padding: 16px 24px; width: 100%; background-color: rgba(255, 255, 255, 0.1); border-bottom: 1px solid #141435; border-right: 1px solid #141435; word-break: keep-all;}
.sec-06 .table-wrap .td:last-child{border-right: 0;}

.sec-06 .table-wrap .thead .th{background-color: #122E60;}
.sec-06 .table-wrap .tfoot .th{background-color: #2F2F4B;}

.sec-06 .table-wrap.table-distribute.pc-only {
    $tableWidths: 20%, 21%, 19%, 13.5%, 26.5%;
    $tableFootWidths: 41%, 19%, 13.5%, 26.5%;

    .th{min-width: auto;}
    .td.small{font-size: 14px;}
    
    .thead li, .tbody li {
        @for $i from 1 through length($tableWidths) {
            $width: nth($tableWidths, $i);
            &:nth-child(#{$i}) {
                width: $width;
            }
        }
    }
    
    .tfoot li {
        @for $i from 1 through length($tableFootWidths) {
            $width: nth($tableFootWidths, $i);
            &:nth-child(#{$i}) {
            width: $width;
            }
        }
    }
}
.sec-06 .graph-wrap{position: relative; margin: 75px auto 60px; max-width: 574px; width: 100%;}
.sec-06 .graph-wrap .img-list li{position: absolute;}


// Roadmap
.sec-07{padding: 100px 0 140px;}
.sec-07 .roadmap-list{position: relative; padding-top: 10px;}
.sec-07 .roadmap-list::before{content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); display: block; width: 6px; height: 100%; background-color: #216EF3;}
.sec-07 .roadmap-list .item{position: relative; margin-top: 40px; width: 46.5%;}
.sec-07 .roadmap-list .item:first-child{margin-top: 0;}
.sec-07 .roadmap-list .item:nth-child(2n){margin-left: auto;}
.sec-07 .roadmap-list .item::after{content: ''; position: absolute; top: 16px; right: calc(-10%); display: block; width: 28px; height: 28px; border-radius: 50%; border: 5px solid #216EF3; background-color: #141435; box-sizing: border-box;}
.sec-07 .roadmap-list .item:nth-child(2n)::after{left: calc(-10%); right: initial;}
.sec-07 .roadmap-list .item .txt-wrap{padding: 24px 30px; background-color: #1C2459; border-radius: 8px;}
.sec-07 .roadmap-list .item .tit{font-size: 28px; font-weight: 700; color: #216EF3;}
.sec-07 .roadmap-list .item .desc-list{margin-top: 12px; font-size: 16px; line-height: 1.5; word-break: keep-all;}
.sec-07 .roadmap-list .item .desc-list li{margin-top: 4px;}
.sec-07 .roadmap-list .item .desc-list li:first-child{margin-top: 0;}

//실시간 매출 연동 시스템
.sec-08{padding: 80px 0 150px;}
.sec-08 .list-box .item .num{display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; font-size: 24px; color: #fff; border-radius: 50%; background-color: #216EF3;}
.sec-08 .list-box .item .sub-tit{margin-top: 14px; font-size: 18px; font-weight: 700;}

.sec-09{padding: 135px 0 245px;}

.sec-10{padding: 132px 0 174px;}
.sec-10 .info-box{display: flex; align-items: center; gap: 40px;}
.sec-10 .info-box .img-wrap{flex-shrink: 0; width: 36.5%;}
.sec-10 .info-box .txt-list{width: 100%;}
.sec-10 .info-box .txt-list > li + li{margin-top: 50px;}
.sec-10 .info-box .txt-list .tit{margin-bottom: 20px; font-size: 24px; font-weight: 700;}
.sec-10 .info-box .txt-list .sub-tit{margin-top: 20px; font-size: 16px; font-weight: 600;}
.sec-10 .info-box .txt-list .notice-txt{margin-top: 4px;}

// banner
.sec-11{position: relative; padding: 50px 0 120px; }
.sec-11 .banner{padding: 0 60px; font-size: 42px; text-align: center; word-break: keep-all;}
.sec-11 .banner::before{content: ''; display: inline-block; margin: 0 auto; width: 240px; height: 240px; @include bg('icon/ico-coin.png', $size: 100% auto);}
.sec-11::after{content: ''; position: absolute; bottom: 0; left: 0; z-index: -1; display: block; width: 100%; height: 100%; background: linear-gradient(0deg,rgba(33, 110, 243, 1) 0, rgba(15, 20, 53, 0) 70%);}


@media (max-width: 1400px) {
    .sec-01 .img-wrap{right: 0;}
}
@media (max-width: 1200px) {
    .sec-kv .txt-box{margin-left: 0;}
    .sec-01 .img-wrap{right: -10%;}
}
@media (max-width: 1120px) {
    .sec-04 .process .first .circle{width: 13.11vw; height: 13.11vw;}
    .sec-04 .process .first .circle .tit{font-size: 1.69vw;}
    .sec-04 .process .second .circle{padding: 3.93vw; width: 23.97vw; height: 23.97vw;}
    .sec-04 .process .second .circle .tit{padding: 0 2.81vw;}
    .sec-04 .process .third .circle{width: 15.17vw; height: 15.17vw;}
    .sec-04 .process .third .box-wrap + .box-wrap{margin-top: 3.18vw;}
    .sec-04 .process .circle .tit{font-size: 1.50vw;}
    .sec-04 .process .desc{margin-top: 1.12vw; font-size: 1.21vw;}
    .sec-04 .process .ico-process01::before{width: 3.00vw; height: 3.00vw;}
    .sec-04 .process .ico-process02::before{margin-bottom: 0.28vw; width: 3.37vw; height: 3.37vw;}
    .sec-04 .process .ico-process03::before{width: 3.37vw; height: 3.37vw;}
    .sec-04 .process .ico-process04::before{margin-bottom: 0.56vw; width: 2.43vw; height: 2.43vw;}
}

@media (max-width: 1000px) {
    section + section{margin-top: 80px;}
    .sec-tit{margin-bottom: 40px;}
    .sec-tit .sub-tit{margin-bottom: 4px; font-size: 18px;}
    .sec-tit .tit{font-size: 28px;}

    .list-box{flex-wrap: wrap;}
    .list-box .item{flex: none; width: calc(50% - 20px);}

    .sec-kv{height: 718px; background-image: url('#{$img-url}/seckv-visual-mo.png');}
    .sec-kv .inner{align-items: flex-start;}
    .sec-kv .txt-box{margin-top: 200px;}
    .sec-kv .txt-box .txt-wrap .tit{font-size: 34px;}
    .sec-kv .txt-box .txt-wrap .desc{margin-top: 16px; font-size: 14px;}
    .sec-kv .txt-box .btn-wrap{margin-top: 40px;}

    .sec-01{padding: 0; min-height: fit-content;}
    .sec-01 .txt-wrap{padding-right: 0; text-align: center;}
    .sec-01 .sub-tit{margin-bottom: 0; font-size: 14px;}
    .sec-01 .tit{font-size: 28px;}
    .sec-01 .desc{margin-top: 18px; margin-left: auto; margin-right: auto; width: 80%; line-height: 1.6;}
    .sec-01 .img-wrap{position: initial; display: flex; align-items: center; justify-content: center; width: 100%;}
    .sec-01 .img-wrap img{width: auto; height: 353px;}

    .sec-02{padding: 0;}

    .sec-03{padding: 0;}

    .sec-04{padding: 0;}

    .sec-05{padding: 0;}
    .sec-05 .banner{margin-top: 40px; padding: 80px 20px; font-size: 28px;}
    .sec-05 .banner .logo{margin-bottom: 24px;}

    .sec-06{padding: 0;}
    .sec-06 .table-wrap {padding: 20px; font-size: 14px;}
    .sec-06 .table-wrap .table-tit{margin-bottom: 20px; font-size: 18px;}
    .sec-06 .table-wrap .th{min-width: 80px; width: 29%;}
    .sec-06 .graph-wrap{margin: 40px auto;}

    .sec-07{padding: 0;}
    .sec-07 .roadmap-list::before{display: none;}
    .sec-07 .roadmap-list .item{margin-top: 20px; width: 100%;}
    .sec-07 .roadmap-list .item::after{display: none;}

    .sec-08{padding: 0;}

    .sec-09{padding: 0;}

    .sec-10{padding: 0;}
    .sec-10 .info-box{flex-direction: column; gap: 40px;}
    .sec-10 .info-box .img-wrap{width: 100%;}

    .sec-11{padding: 0 0 90px;}
    .sec-11 .banner{padding: 0 30px; font-size: 28px;}
    .sec-11 .banner::before{width: 190px; height: 190px;}
}

@media (max-width: 750px) {
    .list-box{flex-direction: column;}
    .list-box .item{flex: 1; width: 100%;}

    .list-box.column .item{width: 100%;}

    .sec-04 .process{max-width: 320px;}
    .sec-04 .process > li:not(.line-wrap) {position: initial;}
    .sec-04 .process .first{display: flex; flex-direction: column; width: 100%;}
    .sec-04 .process .third{width: 100%;}
    .sec-04 .process .third .desc{width: 100%;}

    .sec-04 .process .first .desc{margin-top: 0; margin-bottom: 16px; order: -1;}
    .sec-04 .process .first .circle{width: 140px; height: 140px;}
    .sec-04 .process .first .circle .tit{font-size: 20px;}
    .sec-04 .process .second .circle{margin: 84px auto 76px; padding: 42px; width: 256px; height: 256px;}
    .sec-04 .process .second .circle .tit{padding: 0 30px;}
    .sec-04 .process .third{display: flex; justify-content: center;}
    .sec-04 .process .third .circle{width: 162px; height: 162px;}
    .sec-04 .process .third .box-wrap{flex: 1;}
    .sec-04 .process .third .box-wrap:nth-child(2){order: -1; margin-right: -10px;}
    .sec-04 .process .third .box-wrap + .box-wrap{margin-top: 0;}
    .sec-04 .process .circle .tit{font-size: 16px;}
    .sec-04 .process .desc{margin-top: 12px; padding: 0 10px; font-size: 14px;}
    .sec-04 .process .line-wrap{position: absolute; top: 95px; left: 50%; transform: translateX(-50%); z-index: -2; width: 195px;}
    .sec-04 .process .ico-process01::before{width: 32px; height: 32px;}
    .sec-04 .process .ico-process02::before{margin-bottom: 3px; width: 36px; height: 36px;}
    .sec-04 .process .ico-process03::before{width: 36px; height: 36px;}
    .sec-04 .process .ico-process04::before{margin-bottom: 6px; width: 26px; height: 26px;}

    .sec-05 .banner::after{bottom: -20%; right: 10px; width: 120px; height: 120px;}

    .sec-06 .table-wrap.table-distribute.mo-only{padding: 0; border-radius: 0; background: transparent;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item{display: flex; flex-direction: column; gap: 10px; padding: 20px; border-radius: 30px; background-color: #0F2F68;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item + .item{margin-top: 20px;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit{display: flex; flex-direction: column; gap: 4px;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit strong{font-size: 18px;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit small{font-size: 12px;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .desc{font-size: 14px;}
}

@media (max-width: 375px) {
    section + section{margin-top: 21.33vw;}
    .sec-tit{margin-bottom: 10.67vw;}
    .sec-tit .sub-tit{margin-bottom: 1.07vw; font-size: 4.80vw;}
    .sec-tit .tit{font-size: 7.47vw;}
    .sec-tit .tit ~ .desc{margin-top: 4.27vw;}

    .notice-list{font-size: 3.73vw;}
    .notice-list > li{padding-left: 5.33vw;}
    .notice-list > li::before{top: 2.13vw; left: 2.13vw; width: 1.07vw; height: 1.07vw;}
    .notice-txt{padding-left: 5.33vw; font-size: 3.73vw;}
    .notice-txt::before{top: 2.13vw; left: 2.13vw; width: 1.07vw; height: 1.07vw;}

    .list-box{flex-direction: column; gap: 5.33vw;}
    .list-box .item{padding: 8.00vw 8.00vw 10.67vw; border-radius: 8.00vw;}
    .list-box .item .img-wrap + .txt-wrap{margin-top: 5.33vw;}
    .list-box .item .num{margin-bottom: 3.20vw; font-size: 4.27vw;}
    .list-box .item .tit{font-size: 6.40vw;}
    .list-box .item .desc{margin-top: 3.20vw; font-size: 4.27vw;}
    .list-box .item .notice-list{margin-top: 5.33vw;}

    .ico{
        @for $i from 1 through 4 {
            $idx : if($i < 10, '0#{$i}', '#{$i}');
            $name: 'value';

            &-#{$name}#{$idx}::before{
                margin-bottom: 5.33vw;
                width: 29.87vw;
                height: 29.87vw;
            }
        }

        @for $i from 1 through 4 {
            $idx : if($i < 10, '0#{$i}', '#{$i}');
            $name: 'feature';

            &-#{$name}#{$idx}::before{
                margin-bottom: 6.40vw;
                width: 13.33vw;
                height: 13.33vw;
            }
        }

        &-coin{
            margin-bottom: 1.07vw;
            width: 21.33vw;
            height: 21.33vw;
        }
    }

    .sec-kv{height: 191.47vw;}
    .sec-kv .txt-box{margin-top: 53.33vw;}
    .sec-kv .txt-box .txt-wrap .tit{font-size: 9.07vw;}
    .sec-kv .txt-box .txt-wrap .desc{margin-top: 4.27vw; font-size: 3.73vw;}
    .sec-kv .txt-box .txt-wrap .desc br{display: none;}
    .sec-kv .txt-box .btn-wrap{margin-top: 10.67vw;}
    .sec-kv .txt-box .btn-wrap .btn{width: 40.00vw; height: 13.33vw; font-size: 4.27vw; border-radius: 8.00vw;}
    .sec-kv .txt-box .btn-wrap .btn.line{border-width: 0.27vw;}
    .sec-kv .txt-box .btn-wrap .btn + .btn{margin-left: 3.20vw;}

    .sec-01 .sub-tit{font-size: 3.73vw;}
    .sec-01 .tit{font-size: 7.47vw;}
    .sec-01 .tit br{display: none;}
    .sec-01 .desc{margin-top: 4.80vw; width: 100%;}
    .sec-01 .img-wrap img{height: 94.13vw;}

    .sec-04 .process{max-width: 85.33vw;}
    .sec-04 .process .first .desc{margin-bottom: 4.27vw;}
    .sec-04 .process .first .circle{width: 37.33vw; height: 37.33vw;}
    .sec-04 .process .first .circle .tit{font-size: 5.33vw;}
    .sec-04 .process .second .circle{margin: 22.40vw auto 20.27vw; padding: 11.20vw; width: 68.27vw; height: 68.27vw; border-width: 0.27vw;}
    .sec-04 .process .second .circle .tit{padding: 0 8.00vw;}
    .sec-04 .process .third .circle{width: 43.20vw; height: 43.20vw;}
    .sec-04 .process .third .box-wrap:nth-child(2){margin-right: -2.67vw;}
    .sec-04 .process .circle .tit{font-size: 4.27vw;}
    .sec-04 .process .desc{margin-top: 3.20vw; padding: 0 2.67vw; font-size: 3.73vw;}
    .sec-04 .process .line-wrap{top: 25.33vw; width: 52.00vw;}
    .sec-04 .process .ico-process01::before{width: 8.53vw; height: 8.53vw;}
    .sec-04 .process .ico-process02::before{margin-bottom: 0.80vw; width: 9.60vw; height: 9.60vw;}
    .sec-04 .process .ico-process03::before{width: 9.60vw; height: 9.60vw;}
    .sec-04 .process .ico-process04::before{margin-bottom: 1.60vw; width: 6.93vw; height: 6.93vw;}

    .sec-05 .banner{margin-top: 10.67vw; padding: 21.33vw 5.33vw; font-size: 7.47vw; border-radius: 8.00vw;}
    .sec-05 .banner::after{right: 2.67vw; width: 32.00vw; height: 32.00vw;}
    .sec-05 .banner .logo{margin-bottom: 6.40vw; width: 38.67vw; height: 6.93vw;}

    .sec-06 .table-wrap {padding: 5.33vw; font-size: 3.73vw; border-radius: 8.00vw;}
    .sec-06 .table-wrap .table-tit{margin-bottom: 5.33vw; font-size: 4.80vw;}
    .sec-06 .table-wrap .th{padding: 4.27vw 6.40vw; min-width: 21.33vw; width: 29%;}
    .sec-06 .table-wrap .td{padding: 4.27vw 6.40vw; width: 100%; border-bottom-width: 0.27vw; border-right-width: 0.27vw;}
    .sec-06 .graph-wrap{margin: 10.67vw auto; max-width: 153.07vw;}

    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item{gap: 2.67vw; padding: 5.33vw; border-radius: 8.00vw;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item + .item{margin-top: 5.33vw;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit{gap: 1.07vw;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit strong{font-size: 4.80vw;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit small{font-size: 3.20vw;}
    .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .desc{font-size: 3.73vw;}

    .sec-07 .roadmap-list{padding-top: 2.67vw;}
    .sec-07 .roadmap-list .item{margin-top: 5.33vw;}
    .sec-07 .roadmap-list .item .txt-wrap{padding: 6.40vw 8.00vw; border-radius: 2.13vw;}
    .sec-07 .roadmap-list .item .tit{font-size: 7.47vw;}
    .sec-07 .roadmap-list .item .desc-list{margin-top: 3.20vw; font-size: 4.27vw;}
    .sec-07 .roadmap-list .item .desc-list li{margin-top: 1.07vw;}

    .sec-08 .list-box .item .num{width: 13.33vw; height: 13.33vw; font-size: 6.40vw;}
    .sec-08 .list-box .item .sub-tit{margin-top: 3.73vw; font-size: 4.80vw;}

    .sec-10 .info-box{gap: 10.67vw;}
    .sec-10 .info-box .txt-list > li + li{margin-top: 13.33vw;}
    .sec-10 .info-box .txt-list .tit{margin-bottom: 5.33vw; font-size: 6.40vw;}
    .sec-10 .info-box .txt-list .sub-tit{margin-top: 5.33vw; font-size: 4.27vw;}
    .sec-10 .info-box .txt-list .notice-txt{margin-top: 1.07vw;}

    .sec-11{padding: 0 0 24.00vw;}
    .sec-11 .banner{padding: 0 8.00vw; font-size: 7.47vw;}
    .sec-11 .banner::before{width: 50.67vw; height: 50.67vw;}
}