@charset "UTF-8";
@import "../util";

/* footer */
.footer{padding: 40px 0;}
.footer .util-wrap{display: flex; align-items: center; justify-content: space-between;}
.footer .logo{margin: 12px 0; width: 97px; height: 26px; @include bg('content/logo.svg', $size: 100% auto);}
.footer .util-menu{display: flex; gap: 54px;}

.footer .info{display: flex; flex-wrap: wrap; gap: 8px; margin-top: 16px;}
.footer .info li.full{width: 100%;}

.footer .copyright{margin-top: 74px; line-height: 1.7; text-align: center ;}

@media (max-width: 750px) {
    .footer .util-wrap{flex-direction: column; gap: 20px; }
    .footer .util-menu{flex-wrap: wrap; gap: 8px 20px;}
    .footer .info li{width: 100%; text-align: center;}
    .footer .copyright{margin-top: 20px;}
}

@media (max-width: 375px) {
    .footer{padding: 40px 0;}
    .footer .util-wrap{gap: 20px;}
    .footer .logo{margin: 12px 0; width: 97px; height: 26px;}
    .footer .util-menu{gap: 8px 20px;}

    .footer .info{gap: 8px; margin-top: 16px;}
    .footer .info li{text-align: left;}

    .footer .copyright{margin-top: 20px;}
}