@charset "UTF-8";
@import "../util";

/* layout */
body{background-color: #141435; color: #fff;}
// .wrap{}
// .contents{}

.inner{margin: 0 auto; padding: 0 30px; max-width: calc(1280px + 60px);}







@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 980px) {
}

@media (max-width: 750px) {
}