/* reset */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
form,
fieldset,
blockquote,
iframe {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

article,
aside,
canvas,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

command,
datalist,
keygen,
mark,
meter,
progress,
rp,
rt,
ruby,
time,
wbr {
  display: inline;
}

img {
  vertical-align: top;
  border: 0;
}

fieldset {
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

hr {
  display: none;
  border: 0;
}

pre {
  white-space: pre-wrap;
}

legend,
caption {
  display: none;
  clear: both;
}

a {
  color: inherit;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  word-break: keep-all;
}

em,
i,
address,
cite {
  font-style: normal;
  font-weight: 300;
}

input,
textarea,
select,
button,
table {
  font-size: inherit;
  font-family: inherit;
  *font-size: inherit;
  border: 0;
  background-color: transparent;
}

button,
select {
  cursor: pointer;
}

textarea,
input,
select {
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  outline-style: none;
  outline-width: medium;
}

textarea {
  resize: none;
  appearance: none;
}

label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label img {
  pointer-events: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  border-collapse: collapse;
}

progress[value] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-size: auto;
}
progress[value][role][aria-valuenow] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-size: auto;
}
progress[value][role][aria-valuenow]:after {
  background-image: none;
}
progress[value][role][aria-valuenow]:before {
  display: table;
}
progress[value][role][aria-valuenow] strong {
  display: none;
}
progress[value][role][aria-valuenow]::-webkit-progress-value, progress[value][role][aria-valuenow]::-webkit-progress-inner-element {
  display: table;
}
progress[value][role][aria-valuenow]::-webkit-progress-bar {
  display: table-cell;
}
progress[value][role][aria-valuenow]::-moz-progress-bar, progress[value][role][aria-valuenow]::-webkit-progress-value {
  display: table;
}

textarea {
  color: inherit;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input[type=reset], input[type=button], input[type=submit] {
  line-height: normal !important;
  cursor: pointer;
}
input[type=button], input[type=text], input[type=image], input[type=submit] {
  -webkit-appearance: none;
}
input:checked[type=checkbox] {
  background-color: #fff;
  -webkit-appearance: checkbox;
}

input {
  color: inherit;
}
input::-webkit-input-placeholder {
  color: inherit;
}
input::-moz-placeholder {
  color: inherit;
}
input:-ms-input-placeholder {
  color: inherit;
}
input:-moz-placeholder {
  color: inherit;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

select::-ms-expand {
  display: none;
}

input[type=date]::-webkit-clear-button {
  display: none;
}
input[type=date]::-webkit-inner-spin-button {
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  color: #343434;
  background: #fff;
}
input[type=date] {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block !important;
  visibility: visible !important;
}
input[type=date], input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
  html * {
    color: #000;
    background: #fff;
  }
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: var(--text-body-default);
  font-weight: 400;
  line-height: var(--base-line-height);
  color: var(--color-text-basic);
}
html[lang=ko-KR], html[lang=ko] {
  font-family: "Pretendard", sans-serif;
}

/* font */
.tit-xxl {
  font-size: 56px;
}
.tit-xl {
  font-size: 48px;
}
.tit-l {
  font-size: 46px;
}
.tit-m {
  font-size: 40px;
}
.tit-s {
  font-size: 34px;
}
.tit-xs {
  font-size: 32px;
}
.tit-xxs {
  font-size: 24px;
}

.txt-l {
  font-size: 24px;
}
.txt-m {
  font-size: 20px;
}
.txt-s {
  font-size: 18px;
}
.txt-xs {
  font-size: 16px;
}

/* blind */
.blind {
  overflow: hidden;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  border: 0;
  z-index: -1;
}

/* space */
.mt-0 {
  margin-top: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

@media screen and (max-width: 360px) {
  .mt-0 {
    margin-top: 0vw !important;
  }
  .pt-0 {
    padding-top: 0vw !important;
  }
  .mt-1 {
    margin-top: 2.78vw !important;
  }
  .pt-1 {
    padding-top: 2.78vw !important;
  }
  .mt-2 {
    margin-top: 5.56vw !important;
  }
  .pt-2 {
    padding-top: 5.56vw !important;
  }
  .mt-3 {
    margin-top: 8.34vw !important;
  }
  .pt-3 {
    padding-top: 8.34vw !important;
  }
  .mt-4 {
    margin-top: 11.12vw !important;
  }
  .pt-4 {
    padding-top: 11.12vw !important;
  }
  .mt-5 {
    margin-top: 13.9vw !important;
  }
  .pt-5 {
    padding-top: 13.9vw !important;
  }
  .mt-6 {
    margin-top: 16.68vw !important;
  }
  .pt-6 {
    padding-top: 16.68vw !important;
  }
  .mt-7 {
    margin-top: 19.46vw !important;
  }
  .pt-7 {
    padding-top: 19.46vw !important;
  }
  .mt-8 {
    margin-top: 22.24vw !important;
  }
  .pt-8 {
    padding-top: 22.24vw !important;
  }
  .mt-9 {
    margin-top: 25.02vw !important;
  }
  .pt-9 {
    padding-top: 25.02vw !important;
  }
  .mb-0 {
    margin-bottom: 0vw !important;
  }
  .pb-0 {
    padding-bottom: 0vw !important;
  }
  .mb-1 {
    margin-bottom: 2.78vw !important;
  }
  .pb-1 {
    padding-bottom: 2.78vw !important;
  }
  .mb-2 {
    margin-bottom: 5.56vw !important;
  }
  .pb-2 {
    padding-bottom: 5.56vw !important;
  }
  .mb-3 {
    margin-bottom: 8.34vw !important;
  }
  .pb-3 {
    padding-bottom: 8.34vw !important;
  }
  .mb-4 {
    margin-bottom: 11.12vw !important;
  }
  .pb-4 {
    padding-bottom: 11.12vw !important;
  }
  .mb-5 {
    margin-bottom: 13.9vw !important;
  }
  .pb-5 {
    padding-bottom: 13.9vw !important;
  }
  .mb-6 {
    margin-bottom: 16.68vw !important;
  }
  .pb-6 {
    padding-bottom: 16.68vw !important;
  }
  .mb-7 {
    margin-bottom: 19.46vw !important;
  }
  .pb-7 {
    padding-bottom: 19.46vw !important;
  }
  .mb-8 {
    margin-bottom: 22.24vw !important;
  }
  .pb-8 {
    padding-bottom: 22.24vw !important;
  }
  .mb-9 {
    margin-bottom: 25.02vw !important;
  }
  .pb-9 {
    padding-bottom: 25.02vw !important;
  }
  .mr-0 {
    margin-right: 0vw !important;
  }
  .pr-0 {
    padding-right: 0vw !important;
  }
  .mr-1 {
    margin-right: 2.78vw !important;
  }
  .pr-1 {
    padding-right: 2.78vw !important;
  }
  .mr-2 {
    margin-right: 5.56vw !important;
  }
  .pr-2 {
    padding-right: 5.56vw !important;
  }
  .mr-3 {
    margin-right: 8.34vw !important;
  }
  .pr-3 {
    padding-right: 8.34vw !important;
  }
  .mr-4 {
    margin-right: 11.12vw !important;
  }
  .pr-4 {
    padding-right: 11.12vw !important;
  }
  .mr-5 {
    margin-right: 13.9vw !important;
  }
  .pr-5 {
    padding-right: 13.9vw !important;
  }
  .mr-6 {
    margin-right: 16.68vw !important;
  }
  .pr-6 {
    padding-right: 16.68vw !important;
  }
  .mr-7 {
    margin-right: 19.46vw !important;
  }
  .pr-7 {
    padding-right: 19.46vw !important;
  }
  .mr-8 {
    margin-right: 22.24vw !important;
  }
  .pr-8 {
    padding-right: 22.24vw !important;
  }
  .mr-9 {
    margin-right: 25.02vw !important;
  }
  .pr-9 {
    padding-right: 25.02vw !important;
  }
  .ml-0 {
    margin-left: 0vw !important;
  }
  .pl-0 {
    padding-left: 0vw !important;
  }
  .ml-1 {
    margin-left: 2.78vw !important;
  }
  .pl-1 {
    padding-left: 2.78vw !important;
  }
  .ml-2 {
    margin-left: 5.56vw !important;
  }
  .pl-2 {
    padding-left: 5.56vw !important;
  }
  .ml-3 {
    margin-left: 8.34vw !important;
  }
  .pl-3 {
    padding-left: 8.34vw !important;
  }
  .ml-4 {
    margin-left: 11.12vw !important;
  }
  .pl-4 {
    padding-left: 11.12vw !important;
  }
  .ml-5 {
    margin-left: 13.9vw !important;
  }
  .pl-5 {
    padding-left: 13.9vw !important;
  }
  .ml-6 {
    margin-left: 16.68vw !important;
  }
  .pl-6 {
    padding-left: 16.68vw !important;
  }
  .ml-7 {
    margin-left: 19.46vw !important;
  }
  .pl-7 {
    padding-left: 19.46vw !important;
  }
  .ml-8 {
    margin-left: 22.24vw !important;
  }
  .pl-8 {
    padding-left: 22.24vw !important;
  }
  .ml-9 {
    margin-left: 25.02vw !important;
  }
  .pl-9 {
    padding-left: 25.02vw !important;
  }
}
/* font-style */
.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

/* common */
img {
  width: 100%;
}

.txt-al-center {
  text-align: center !important;
}

.txt-al-left {
  text-align: left !important;
}

.txt-al-right {
  text-align: right !important;
}

.pc-only {
  display: block !important;
}

.mo-only {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  align-items: flex-end !important;
}

.flex-center {
  display: flex;
  align-items: center !important;
}

.flex-start {
  display: flex;
  align-items: flex-start !important;
}

.flex-between {
  display: flex;
  justify-content: space-between !important;
}

.bold {
  font-weight: 700 !important;
}

@media (max-width: 750px) {
  .pc-only {
    display: none !important;
  }
  .mo-only {
    display: block !important;
  }
  /* space */
  .mt-0 {
    margin-top: 0vw !important;
  }
  .pt-0 {
    padding-top: 0vw !important;
  }
  .mt-1 {
    margin-top: 1.39vw !important;
  }
  .pt-1 {
    padding-top: 1.39vw !important;
  }
  .mt-2 {
    margin-top: 2.78vw !important;
  }
  .pt-2 {
    padding-top: 2.78vw !important;
  }
  .mt-3 {
    margin-top: 4.17vw !important;
  }
  .pt-3 {
    padding-top: 4.17vw !important;
  }
  .mt-4 {
    margin-top: 5.56vw !important;
  }
  .pt-4 {
    padding-top: 5.56vw !important;
  }
  .mt-5 {
    margin-top: 6.95vw !important;
  }
  .pt-5 {
    padding-top: 6.95vw !important;
  }
  .mt-6 {
    margin-top: 8.34vw !important;
  }
  .pt-6 {
    padding-top: 8.34vw !important;
  }
  .mt-7 {
    margin-top: 9.73vw !important;
  }
  .pt-7 {
    padding-top: 9.73vw !important;
  }
  .mt-8 {
    margin-top: 11.12vw !important;
  }
  .pt-8 {
    padding-top: 11.12vw !important;
  }
  .mt-9 {
    margin-top: 12.51vw !important;
  }
  .pt-9 {
    padding-top: 12.51vw !important;
  }
  .mb-0 {
    margin-bottom: 0vw !important;
  }
  .pb-0 {
    padding-bottom: 0vw !important;
  }
  .mb-1 {
    margin-bottom: 1.39vw !important;
  }
  .pb-1 {
    padding-bottom: 1.39vw !important;
  }
  .mb-2 {
    margin-bottom: 2.78vw !important;
  }
  .pb-2 {
    padding-bottom: 2.78vw !important;
  }
  .mb-3 {
    margin-bottom: 4.17vw !important;
  }
  .pb-3 {
    padding-bottom: 4.17vw !important;
  }
  .mb-4 {
    margin-bottom: 5.56vw !important;
  }
  .pb-4 {
    padding-bottom: 5.56vw !important;
  }
  .mb-5 {
    margin-bottom: 6.95vw !important;
  }
  .pb-5 {
    padding-bottom: 6.95vw !important;
  }
  .mb-6 {
    margin-bottom: 8.34vw !important;
  }
  .pb-6 {
    padding-bottom: 8.34vw !important;
  }
  .mb-7 {
    margin-bottom: 9.73vw !important;
  }
  .pb-7 {
    padding-bottom: 9.73vw !important;
  }
  .mb-8 {
    margin-bottom: 11.12vw !important;
  }
  .pb-8 {
    padding-bottom: 11.12vw !important;
  }
  .mb-9 {
    margin-bottom: 12.51vw !important;
  }
  .pb-9 {
    padding-bottom: 12.51vw !important;
  }
  .mr-0 {
    margin-right: 0vw !important;
  }
  .pr-0 {
    padding-right: 0vw !important;
  }
  .mr-1 {
    margin-right: 1.39vw !important;
  }
  .pr-1 {
    padding-right: 1.39vw !important;
  }
  .mr-2 {
    margin-right: 2.78vw !important;
  }
  .pr-2 {
    padding-right: 2.78vw !important;
  }
  .mr-3 {
    margin-right: 4.17vw !important;
  }
  .pr-3 {
    padding-right: 4.17vw !important;
  }
  .mr-4 {
    margin-right: 5.56vw !important;
  }
  .pr-4 {
    padding-right: 5.56vw !important;
  }
  .mr-5 {
    margin-right: 6.95vw !important;
  }
  .pr-5 {
    padding-right: 6.95vw !important;
  }
  .mr-6 {
    margin-right: 8.34vw !important;
  }
  .pr-6 {
    padding-right: 8.34vw !important;
  }
  .mr-7 {
    margin-right: 9.73vw !important;
  }
  .pr-7 {
    padding-right: 9.73vw !important;
  }
  .mr-8 {
    margin-right: 11.12vw !important;
  }
  .pr-8 {
    padding-right: 11.12vw !important;
  }
  .mr-9 {
    margin-right: 12.51vw !important;
  }
  .pr-9 {
    padding-right: 12.51vw !important;
  }
  .ml-0 {
    margin-left: 0vw !important;
  }
  .pl-0 {
    padding-left: 0vw !important;
  }
  .ml-1 {
    margin-left: 1.39vw !important;
  }
  .pl-1 {
    padding-left: 1.39vw !important;
  }
  .ml-2 {
    margin-left: 2.78vw !important;
  }
  .pl-2 {
    padding-left: 2.78vw !important;
  }
  .ml-3 {
    margin-left: 4.17vw !important;
  }
  .pl-3 {
    padding-left: 4.17vw !important;
  }
  .ml-4 {
    margin-left: 5.56vw !important;
  }
  .pl-4 {
    padding-left: 5.56vw !important;
  }
  .ml-5 {
    margin-left: 6.95vw !important;
  }
  .pl-5 {
    padding-left: 6.95vw !important;
  }
  .ml-6 {
    margin-left: 8.34vw !important;
  }
  .pl-6 {
    padding-left: 8.34vw !important;
  }
  .ml-7 {
    margin-left: 9.73vw !important;
  }
  .pl-7 {
    padding-left: 9.73vw !important;
  }
  .ml-8 {
    margin-left: 11.12vw !important;
  }
  .pl-8 {
    padding-left: 11.12vw !important;
  }
  .ml-9 {
    margin-left: 12.51vw !important;
  }
  .pl-9 {
    padding-left: 12.51vw !important;
  }
}
:root {
  --text-body-default: 14px;
  --base-line-height: 1.4;
}

/* header */
.header .inner {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.header .logo {
  flex-shrink: 0;
  margin-right: 48px;
  width: 97px;
  height: 26px;
  background: url(../img/content/logo.svg) no-repeat center/cover;
}

.header .btn-menu {
  margin-left: auto;
  width: 36px;
  height: 36px;
  background: url(../img/icon/ico-menu.png) no-repeat center/24px auto;
}

.header .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  background: url(../img/icon/ico-close.png) no-repeat center/cover;
}

.header .nav-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.header .nav-wrap .nav-scroll-area {
  overflow-y: auto;
  display: flex;
  width: 100%;
  height: 100%;
}

.header .nav-wrap .nav-inner {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 400px;
}

.header .nav {
  display: flex;
}

.header .nav li {
  font-size: 14px;
  font-weight: 700;
}

.header .nav li + li {
  margin-left: 30px;
}

.header .lang {
  margin-left: auto;
}

.header .lang .select {
  padding-right: 20px;
  background: url(../img/icon/ico-arrow-down.png) no-repeat center right/16px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header .lang .select::-ms-expand {
  display: none;
}

.header .lang .select option {
  color: #000;
}

.header .lang .select option:checked {
  color: #216EF3;
}

@media (max-width: 750px) {
  .header .nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 40px 30px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .header .nav-wrap .nav-inner {
    flex-direction: column;
  }
  .header .nav-wrap::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(100%);
    transition: transform 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .header.open .nav-wrap {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .header.open .nav-wrap::before {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .header .nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
  }
  .header .nav li {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
  }
  .header .nav li + li {
    margin-top: 28px;
    margin-left: 0;
  }
  .header .lang {
    margin-left: 0;
    margin-top: auto;
    width: 100%;
  }
  .header .lang .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    width: 100%;
    height: 42px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-position: center right 20px;
  }
}
@media (max-width: 375px) {
  .header .inner {
    padding: 0 5.33vw;
    height: 16vw;
  }
  .header .logo {
    margin-right: 12.8vw;
    width: 25.87vw;
    height: 6.93vw;
  }
  .header .btn-menu {
    width: 9.6vw;
    height: 9.6vw;
    background-size: 6.4vw auto;
  }
  .header .btn-close {
    top: 5.33vw;
    right: 5.33vw;
    width: 9.6vw;
    height: 9.6vw;
  }
  .header .nav-wrap {
    padding: 10.67vw 8vw;
  }
  .header .nav-wrap .nav-inner {
    min-height: 106.67vw;
  }
  .header .nav li {
    font-size: 7.47vw;
  }
  .header .nav li + li {
    margin-top: 7.47vw;
  }
  .header .lang .select {
    padding-left: 5.33vw;
    padding-right: 10.67vw;
    height: 11.2vw;
    font-size: 4.27vw;
    border-width: 0.27vw;
    border-radius: 1.07vw;
    background-position: center right 5.33vw;
  }
}
/* footer */
.footer {
  padding: 40px 0;
}

.footer .util-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .logo {
  margin: 12px 0;
  width: 97px;
  height: 26px;
  background: url(../img/content/logo.svg) no-repeat center/100% auto;
}

.footer .util-menu {
  display: flex;
  gap: 54px;
}

.footer .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.footer .info li.full {
  width: 100%;
}

.footer .copyright {
  margin-top: 20px;
  line-height: 1.7;
  text-align: center;
}

@media (max-width: 750px) {
  .footer .util-wrap {
    flex-direction: column;
    gap: 20px;
  }
  .footer .util-menu {
    flex-wrap: wrap;
    gap: 8px 20px;
  }
  .footer .info li {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 10.67vw 0;
  }
  .footer .util-wrap {
    gap: 5.33vw;
  }
  .footer .logo {
    margin: 3.2vw 0;
    width: 25.87vw;
    height: 6.93vw;
  }
  .footer .util-menu {
    gap: 2.13vw 5.33vw;
  }
  .footer .info {
    gap: 2.13vw;
    margin-top: 4.27vw;
  }
  .footer .copyright {
    margin-top: 5.33vw;
  }
}
/* layout */
body {
  background-color: #141435;
  color: #fff;
  font-size: 14px;
}

.inner {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1340px;
}

@media (max-width: 375px) {
  body {
    font-size: 3.73vw;
  }
  .inner {
    padding: 0 8vw;
    max-width: 357.33vw;
  }
}
/* animation */
[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-duration: 0.6s;
}

.list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(1) {
  transition-delay: 0.1s;
}
.list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(2) {
  transition-delay: 0.2s;
}
.list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(3) {
  transition-delay: 0.3s;
}
.list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(4) {
  transition-delay: 0.4s;
}
.list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(5) {
  transition-delay: 0.5s;
}

.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(1) {
  transition-delay: 0.1s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(2) {
  transition-delay: 0.2s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(3) {
  transition-delay: 0.3s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(4) {
  transition-delay: 0.4s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(5) {
  transition-delay: 0.5s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(6) {
  transition-delay: 0.6s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(7) {
  transition-delay: 0.7s;
}
.graph-wrap .img-list li[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(8) {
  transition-delay: 0.8s;
}

.roadmap-list .item:nth-child(1) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-delay: 0.1s;
}
.roadmap-list .item:nth-child(2) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-delay: 0.2s;
}
.roadmap-list .item:nth-child(3) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-delay: 0.3s;
}
.roadmap-list .item:nth-child(4) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-delay: 0.4s;
}
.roadmap-list .item:nth-child(5) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-delay: 0.5s;
}
.roadmap-list .item:nth-child(6) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
  transition-delay: 0.6s;
}

@media (max-width: 750px) {
  .list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(1) {
    transition-delay: 0.05s;
  }
  .list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(2) {
    transition-delay: 0.1s;
  }
  .list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(3) {
    transition-delay: 0.15s;
  }
  .list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(4) {
    transition-delay: 0.2s;
  }
  .list-box .item[data-aos^=fade][data-aos^=fade].aos-animate:nth-child(5) {
    transition-delay: 0.25s;
  }
  .roadmap-list .item:nth-child(1) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-delay: 0.05s;
  }
  .roadmap-list .item:nth-child(2) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-delay: 0.1s;
  }
  .roadmap-list .item:nth-child(3) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-delay: 0.15s;
  }
  .roadmap-list .item:nth-child(4) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-delay: 0.2s;
  }
  .roadmap-list .item:nth-child(5) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-delay: 0.25s;
  }
  .roadmap-list .item:nth-child(6) .txt-wrap[data-aos^=fade][data-aos^=fade].aos-animate {
    transition-delay: 0.3s;
  }
}
.wrap {
  word-break: keep-all;
}

.sec-tit {
  margin-bottom: 50px;
  text-align: center;
}

.sec-tit .sub-tit {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
}

.sec-tit .tit {
  font-size: 42px;
  font-weight: 700;
}

.sec-tit .tit ~ .desc {
  margin-top: 16px;
}

.notice-list {
  font-size: 14px;
}

.notice-list > li {
  position: relative;
  padding-left: 20px;
}

.notice-list > li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.notice-txt {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}

.notice-txt::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.list-box {
  display: flex;
  gap: 20px;
}

.list-box .item {
  padding: 30px 30px 40px;
  flex: 1;
  border-radius: 30px;
  background: linear-gradient(180deg, rgb(15, 20, 53) 0%, rgb(15, 47, 104) 100%);
}

.list-box .item .img-wrap + .txt-wrap {
  margin-top: 20px;
}

.list-box .item .num {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #216EF3;
}

.list-box .item .tit {
  font-size: 24px;
  font-weight: 700;
}

.list-box .item .desc {
  margin-top: 12px;
  font-size: 16px;
}

.list-box .item .notice-list {
  margin-top: 20px;
}

.list-box.column {
  flex-wrap: wrap;
}

.list-box.column .item {
  width: calc(50% - 10px);
  flex: none;
}

[class*=ico-]::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.ico-value01::before {
  margin: 0 auto 20px;
  width: 112px;
  height: 112px;
  background-image: url("../img/icon/ico-value01.png");
}
.ico-value02::before {
  margin: 0 auto 20px;
  width: 112px;
  height: 112px;
  background-image: url("../img/icon/ico-value02.png");
}
.ico-value03::before {
  margin: 0 auto 20px;
  width: 112px;
  height: 112px;
  background-image: url("../img/icon/ico-value03.png");
}
.ico-value04::before {
  margin: 0 auto 20px;
  width: 112px;
  height: 112px;
  background-image: url("../img/icon/ico-value04.png");
}
.ico-process01::before {
  width: 36px;
  height: 36px;
  background-image: url("../img/icon/ico-process01.png");
}
.ico-process02::before {
  width: 36px;
  height: 36px;
  background-image: url("../img/icon/ico-process02.png");
}
.ico-process03::before {
  width: 36px;
  height: 36px;
  background-image: url("../img/icon/ico-process03.png");
}
.ico-process04::before {
  width: 36px;
  height: 36px;
  background-image: url("../img/icon/ico-process04.png");
}
.ico-feature01::before {
  margin-bottom: 24px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon/ico-feature01.png");
}
.ico-feature02::before {
  margin-bottom: 24px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon/ico-feature02.png");
}
.ico-feature03::before {
  margin-bottom: 24px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon/ico-feature03.png");
}
.ico-feature04::before {
  margin-bottom: 24px;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon/ico-feature04.png");
}
.ico-coin {
  display: block;
  margin: 0 auto 4px;
  width: 80px;
  height: 80px;
}
.ico-coin::before {
  width: 100%;
  height: 100%;
  background-image: url("../img/icon/ico-coin.png");
}
.ico-graph {
  display: block;
  margin: 0 auto 4px;
  width: 80px;
  height: 80px;
}
.ico-graph::before {
  width: 100%;
  height: 100%;
  background-image: url("../img/icon/ico-graph.png");
}

.sec-kv {
  height: 830px;
  background: url(../img/content/seckv-visual.png) no-repeat center/auto 100%;
}

.sec-kv .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sec-kv .txt-box {
  margin-top: 120px;
  margin-left: 90px;
  text-align: center;
}

.sec-kv .txt-box .txt-wrap .tit {
  font-size: 54px;
  text-transform: uppercase;
}

.sec-kv .txt-box .txt-wrap .tit strong {
  font-weight: 700;
}

.sec-kv .txt-box .txt-wrap .desc {
  margin-top: 40px;
  font-size: 24px;
  text-transform: uppercase;
}

.sec-kv .txt-box .btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sec-kv .txt-box .btn-wrap .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
}

.sec-kv .txt-box .btn-wrap .btn.line {
  border: 1px solid #fff;
}

.sec-kv .txt-box .btn-wrap .btn.line:hover {
  background-color: #216EF3;
  border-color: #216EF3;
}

.sec-kv .txt-box .btn-wrap .btn + .btn {
  margin-left: 14px;
}

.sec-01 {
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  min-height: 400px;
}

.sec-01 .txt-wrap {
  padding-right: 45%;
}

.sec-01 .sub-tit {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 2;
  color: #216EF3;
}

.sec-01 .tit {
  font-size: 42px;
  font-weight: 700;
}

.sec-01 .desc {
  margin-top: 40px;
}

.sec-01 .img-wrap {
  position: absolute;
  top: 0;
  right: 80px;
  width: 835px;
  z-index: -1;
}

.sec-02 {
  padding: 130px 0 150px;
}

.sec-03 {
  padding: 130px 0 150px;
}

.sec-04 {
  padding: 130px 0 140px;
}

.sec-04 .process {
  position: relative;
  margin: 0 auto;
  max-width: 1068px;
}

.sec-04 .process > li:not(.line-wrap) {
  position: absolute;
}

.sec-04 .process .first {
  top: 31.12%;
  left: 3.55%;
  width: 27.62%;
}

.sec-04 .process .second {
  top: 19%;
  left: 37.82%;
}

.sec-04 .process .third {
  top: 0;
  right: 0;
  width: 35.76%;
}

.sec-04 .process .third .desc {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.sec-04 .process .line-wrap {
  position: relative;
  z-index: -2;
}

.sec-04 .process .first .circle {
  width: 140px;
  height: 140px;
  background-color: #BAD1F8;
}

.sec-04 .process .first .circle .tit {
  font-size: 18px;
  color: #216EF3;
}

.sec-04 .process .second .circle {
  padding: 42px;
  width: 256px;
  height: 256px;
  background-color: rgba(33, 110, 243, 0.3);
  border: 1px dotted #1D468B;
}

.sec-04 .process .second .circle::after {
  width: 67%;
  height: 67%;
  background-color: rgb(33, 110, 243);
}

.sec-04 .process .second .circle .tit {
  padding: 0 30px;
  word-break: keep-all;
}

.sec-04 .process .third .circle {
  width: 162px;
  height: 162px;
  background-color: #EA882D;
}

.sec-04 .process .third .circle::after {
  width: 70%;
  height: 70%;
}

.sec-04 .process .third .box-wrap:nth-child(1) .circle {
  background-color: rgba(234, 136, 45, 0.3);
}

.sec-04 .process .third .box-wrap:nth-child(1) .circle::after {
  background-color: rgb(234, 136, 45);
}

.sec-04 .process .third .box-wrap:nth-child(2) .circle {
  background-color: rgba(53, 204, 156, 0.3);
}

.sec-04 .process .third .box-wrap:nth-child(2) .circle::after {
  background-color: rgb(53, 204, 156);
}

.sec-04 .process .third .box-wrap + .box-wrap {
  margin-top: 34px;
}

.sec-04 .process .circle {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sec-04 .process .circle::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  z-index: -1;
}

.sec-04 .process .circle .tit {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.sec-04 .process .desc {
  margin-top: 12px;
  text-align: center;
  opacity: 0.8;
}

.sec-04 .process .ico-process01::before {
  width: 32px;
  height: 32px;
}

.sec-04 .process .ico-process02::before {
  margin-bottom: 3px;
}

.sec-04 .process .ico-process04::before {
  margin-bottom: 6px;
  width: 26px;
  height: 26px;
}

.sec-05 {
  padding: 60px 0 140px;
}

.sec-05 .banner {
  position: relative;
  margin-top: 128px;
  padding: 40px 40px 68px;
  font-size: 42px;
  text-align: center;
  background: linear-gradient(280deg, rgb(21, 48, 96) 0%, rgb(33, 110, 243) 100%);
  border-radius: 30px;
}

.sec-05 .banner::after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: -10px;
  width: 190px;
  height: 190px;
  background: url(../img/icon/ico-coin.png) no-repeat center/100% auto;
}

.sec-05 .banner .logo {
  display: inline-block;
  margin-bottom: 8px;
  width: 145px;
  height: 26px;
  background: url(../img/content/logo-mymoment.png) no-repeat center/100% auto;
}

.sec-06 {
  padding: 130px 0 50px;
}

.sec-06 .table-wrap {
  padding: 40px 52px;
  font-size: 18px;
  background: linear-gradient(180deg, rgb(15, 20, 53) 0%, rgb(15, 47, 104) 100%);
  border-radius: 30px;
}

.sec-06 .table-wrap .table-tit {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.sec-06 .table-wrap .thead {
  display: flex;
}

.sec-06 .table-wrap .tbody ul {
  display: flex;
}

.sec-06 .table-wrap .tfoot {
  display: flex;
}

.sec-06 .table-wrap .th {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 16px 24px;
  min-width: 150px;
  width: 12.58%;
  font-weight: 700;
  background-color: #141435;
  word-break: keep-all;
}

.sec-06 .table-wrap .td {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #141435;
  border-right: 1px solid #141435;
  word-break: keep-all;
}

.sec-06 .table-wrap .td:last-child {
  border-right: 0;
}

.sec-06 .table-wrap .thead .th {
  background-color: #122E60;
}

.sec-06 .table-wrap .tfoot .th {
  background-color: #2F2F4B;
}

.sec-06 .table-wrap.table-distribute.pc-only .th {
  min-width: auto;
}
.sec-06 .table-wrap.table-distribute.pc-only .td.small {
  font-size: 14px;
}
.sec-06 .table-wrap.table-distribute.pc-only .thead li:nth-child(1), .sec-06 .table-wrap.table-distribute.pc-only .tbody li:nth-child(1) {
  width: 20%;
}
.sec-06 .table-wrap.table-distribute.pc-only .thead li:nth-child(2), .sec-06 .table-wrap.table-distribute.pc-only .tbody li:nth-child(2) {
  width: 21%;
}
.sec-06 .table-wrap.table-distribute.pc-only .thead li:nth-child(3), .sec-06 .table-wrap.table-distribute.pc-only .tbody li:nth-child(3) {
  width: 19%;
}
.sec-06 .table-wrap.table-distribute.pc-only .thead li:nth-child(4), .sec-06 .table-wrap.table-distribute.pc-only .tbody li:nth-child(4) {
  width: 13.5%;
}
.sec-06 .table-wrap.table-distribute.pc-only .thead li:nth-child(5), .sec-06 .table-wrap.table-distribute.pc-only .tbody li:nth-child(5) {
  width: 26.5%;
}
.sec-06 .table-wrap.table-distribute.pc-only .tfoot li:nth-child(1) {
  width: 41%;
}
.sec-06 .table-wrap.table-distribute.pc-only .tfoot li:nth-child(2) {
  width: 19%;
}
.sec-06 .table-wrap.table-distribute.pc-only .tfoot li:nth-child(3) {
  width: 13.5%;
}
.sec-06 .table-wrap.table-distribute.pc-only .tfoot li:nth-child(4) {
  width: 26.5%;
}

.sec-06 .graph-wrap {
  position: relative;
  margin: 75px auto 60px;
  max-width: 574px;
  width: 100%;
}

.sec-06 .graph-wrap .img-list li {
  position: absolute;
}

.sec-07 {
  padding: 100px 0 140px;
}

.sec-07 .roadmap-list {
  position: relative;
  padding-top: 10px;
}

.sec-07 .roadmap-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 6px;
  height: 100%;
  background-color: #216EF3;
}

.sec-07 .roadmap-list .item {
  position: relative;
  margin-top: 40px;
  width: 46.5%;
}

.sec-07 .roadmap-list .item:first-child {
  margin-top: 0;
}

.sec-07 .roadmap-list .item:nth-child(2n) {
  margin-left: auto;
}

.sec-07 .roadmap-list .item::after {
  content: "";
  position: absolute;
  top: 16px;
  right: -10%;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 5px solid #216EF3;
  background-color: #141435;
  box-sizing: border-box;
}

.sec-07 .roadmap-list .item:nth-child(2n)::after {
  left: -10%;
  right: initial;
}

.sec-07 .roadmap-list .item .txt-wrap {
  padding: 24px 30px;
  background-color: #1C2459;
  border-radius: 8px;
}

.sec-07 .roadmap-list .item .tit {
  font-size: 28px;
  font-weight: 700;
  color: #216EF3;
}

.sec-07 .roadmap-list .item .desc-list {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.5;
  word-break: keep-all;
}

.sec-07 .roadmap-list .item .desc-list li {
  margin-top: 4px;
}

.sec-07 .roadmap-list .item .desc-list li:first-child {
  margin-top: 0;
}

.sec-08 {
  padding: 80px 0 150px;
}

.sec-08 .list-box .item .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  background-color: #216EF3;
}

.sec-08 .list-box .item .sub-tit {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 700;
}

.sec-09 {
  padding: 135px 0 245px;
}

.sec-10 {
  padding: 132px 0 174px;
}

.sec-10 .info-box {
  display: flex;
  align-items: center;
  gap: 40px;
}

.sec-10 .info-box .img-wrap {
  flex-shrink: 0;
  width: 36.5%;
}

.sec-10 .info-box .txt-list {
  width: 100%;
}

.sec-10 .info-box .txt-list > li + li {
  margin-top: 50px;
}

.sec-10 .info-box .txt-list .tit {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.sec-10 .info-box .txt-list .sub-tit {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.sec-10 .info-box .txt-list .notice-txt {
  margin-top: 4px;
}

.sec-11 {
  position: relative;
  padding: 50px 0 120px;
}

.sec-11 .banner {
  padding: 0 60px;
  font-size: 42px;
  text-align: center;
  word-break: keep-all;
}

.sec-11 .banner::before {
  content: "";
  display: inline-block;
  margin: 0 auto;
  width: 240px;
  height: 240px;
  background: url(../img/icon/ico-coin.png) no-repeat center/100% auto;
}

.sec-11::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(33, 110, 243) 0, rgba(15, 20, 53, 0) 70%);
}

@media (max-width: 1400px) {
  .sec-01 .img-wrap {
    right: 0;
  }
}
@media (max-width: 1200px) {
  .sec-kv .txt-box {
    margin-left: 0;
  }
  .sec-01 .img-wrap {
    right: -10%;
  }
}
@media (max-width: 1120px) {
  .sec-04 .process .first .circle {
    width: 13.11vw;
    height: 13.11vw;
  }
  .sec-04 .process .first .circle .tit {
    font-size: 1.69vw;
  }
  .sec-04 .process .second .circle {
    padding: 3.93vw;
    width: 23.97vw;
    height: 23.97vw;
  }
  .sec-04 .process .second .circle .tit {
    padding: 0 2.81vw;
  }
  .sec-04 .process .third .circle {
    width: 15.17vw;
    height: 15.17vw;
  }
  .sec-04 .process .third .box-wrap + .box-wrap {
    margin-top: 3.18vw;
  }
  .sec-04 .process .circle .tit {
    font-size: 1.5vw;
  }
  .sec-04 .process .desc {
    margin-top: 1.12vw;
    font-size: 1.21vw;
  }
  .sec-04 .process .ico-process01::before {
    width: 3vw;
    height: 3vw;
  }
  .sec-04 .process .ico-process02::before {
    margin-bottom: 0.28vw;
    width: 3.37vw;
    height: 3.37vw;
  }
  .sec-04 .process .ico-process03::before {
    width: 3.37vw;
    height: 3.37vw;
  }
  .sec-04 .process .ico-process04::before {
    margin-bottom: 0.56vw;
    width: 2.43vw;
    height: 2.43vw;
  }
}
@media (max-width: 1000px) {
  section + section {
    margin-top: 80px;
  }
  .sec-tit {
    margin-bottom: 40px;
  }
  .sec-tit .sub-tit {
    margin-bottom: 4px;
    font-size: 18px;
  }
  .sec-tit .tit {
    font-size: 28px;
  }
  .list-box {
    flex-wrap: wrap;
  }
  .list-box .item {
    flex: none;
    width: calc(50% - 20px);
  }
  .sec-kv {
    height: 718px;
    background-image: url("../img/content/seckv-visual-mo.png");
  }
  .sec-kv .inner {
    align-items: flex-start;
  }
  .sec-kv .txt-box {
    margin-top: 200px;
  }
  .sec-kv .txt-box .txt-wrap .tit {
    font-size: 34px;
  }
  .sec-kv .txt-box .txt-wrap .desc {
    margin-top: 16px;
    font-size: 14px;
  }
  .sec-kv .txt-box .btn-wrap {
    margin-top: 40px;
  }
  .sec-01 {
    padding: 0;
    min-height: fit-content;
  }
  .sec-01 .txt-wrap {
    padding-right: 0;
    text-align: center;
  }
  .sec-01 .sub-tit {
    margin-bottom: 0;
    font-size: 14px;
  }
  .sec-01 .tit {
    font-size: 28px;
  }
  .sec-01 .desc {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 1.6;
  }
  .sec-01 .img-wrap {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .sec-01 .img-wrap img {
    width: auto;
    height: 353px;
  }
  .sec-02 {
    padding: 0;
  }
  .sec-03 {
    padding: 0;
  }
  .sec-04 {
    padding: 0;
  }
  .sec-05 {
    padding: 0;
  }
  .sec-05 .banner {
    margin-top: 40px;
    padding: 80px 20px;
    font-size: 28px;
  }
  .sec-05 .banner .logo {
    margin-bottom: 24px;
  }
  .sec-06 {
    padding: 0;
  }
  .sec-06 .table-wrap {
    padding: 20px;
    font-size: 14px;
  }
  .sec-06 .table-wrap .table-tit {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .sec-06 .table-wrap .th {
    min-width: 80px;
    width: 29%;
  }
  .sec-06 .graph-wrap {
    margin: 40px auto;
  }
  .sec-07 {
    padding: 0;
  }
  .sec-07 .roadmap-list::before {
    display: none;
  }
  .sec-07 .roadmap-list .item {
    margin-top: 20px;
    width: 100%;
  }
  .sec-07 .roadmap-list .item::after {
    display: none;
  }
  .sec-08 {
    padding: 0;
  }
  .sec-09 {
    padding: 0;
  }
  .sec-10 {
    padding: 0;
  }
  .sec-10 .info-box {
    flex-direction: column;
    gap: 40px;
  }
  .sec-10 .info-box .img-wrap {
    width: 100%;
  }
  .sec-11 {
    padding: 0 0 90px;
  }
  .sec-11 .banner {
    padding: 0 30px;
    font-size: 28px;
  }
  .sec-11 .banner::before {
    width: 190px;
    height: 190px;
  }
}
@media (max-width: 750px) {
  .list-box {
    flex-direction: column;
  }
  .list-box .item {
    flex: 1;
    width: 100%;
  }
  .list-box.column .item {
    width: 100%;
  }
  .sec-04 .process {
    max-width: 320px;
  }
  .sec-04 .process > li:not(.line-wrap) {
    position: initial;
  }
  .sec-04 .process .first {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sec-04 .process .third {
    width: 100%;
  }
  .sec-04 .process .third .desc {
    width: 100%;
  }
  .sec-04 .process .first .desc {
    margin-top: 0;
    margin-bottom: 16px;
    order: -1;
  }
  .sec-04 .process .first .circle {
    width: 140px;
    height: 140px;
  }
  .sec-04 .process .first .circle .tit {
    font-size: 20px;
  }
  .sec-04 .process .second .circle {
    margin: 84px auto 76px;
    padding: 42px;
    width: 256px;
    height: 256px;
  }
  .sec-04 .process .second .circle .tit {
    padding: 0 30px;
  }
  .sec-04 .process .third {
    display: flex;
    justify-content: center;
  }
  .sec-04 .process .third .circle {
    width: 162px;
    height: 162px;
  }
  .sec-04 .process .third .box-wrap {
    flex: 1;
  }
  .sec-04 .process .third .box-wrap:nth-child(2) {
    order: -1;
    margin-right: -10px;
  }
  .sec-04 .process .third .box-wrap + .box-wrap {
    margin-top: 0;
  }
  .sec-04 .process .circle .tit {
    font-size: 16px;
  }
  .sec-04 .process .desc {
    margin-top: 12px;
    padding: 0 10px;
    font-size: 14px;
  }
  .sec-04 .process .line-wrap {
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    width: 195px;
  }
  .sec-04 .process .ico-process01::before {
    width: 32px;
    height: 32px;
  }
  .sec-04 .process .ico-process02::before {
    margin-bottom: 3px;
    width: 36px;
    height: 36px;
  }
  .sec-04 .process .ico-process03::before {
    width: 36px;
    height: 36px;
  }
  .sec-04 .process .ico-process04::before {
    margin-bottom: 6px;
    width: 26px;
    height: 26px;
  }
  .sec-05 .banner::after {
    bottom: -20%;
    right: 10px;
    width: 120px;
    height: 120px;
  }
  .sec-06 .table-wrap.table-distribute.mo-only {
    padding: 0;
    border-radius: 0;
    background: transparent;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 30px;
    background-color: #0F2F68;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item + .item {
    margin-top: 20px;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit strong {
    font-size: 18px;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit small {
    font-size: 12px;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .desc {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  section + section {
    margin-top: 21.33vw;
  }
  .sec-tit {
    margin-bottom: 10.67vw;
  }
  .sec-tit .sub-tit {
    margin-bottom: 1.07vw;
    font-size: 4.8vw;
  }
  .sec-tit .tit {
    font-size: 7.47vw;
  }
  .sec-tit .tit ~ .desc {
    margin-top: 4.27vw;
  }
  .notice-list {
    font-size: 3.73vw;
  }
  .notice-list > li {
    padding-left: 5.33vw;
  }
  .notice-list > li::before {
    top: 2.13vw;
    left: 2.13vw;
    width: 1.07vw;
    height: 1.07vw;
  }
  .notice-txt {
    padding-left: 5.33vw;
    font-size: 3.73vw;
  }
  .notice-txt::before {
    top: 2.13vw;
    left: 2.13vw;
    width: 1.07vw;
    height: 1.07vw;
  }
  .list-box {
    flex-direction: column;
    gap: 5.33vw;
  }
  .list-box .item {
    padding: 8vw 8vw 10.67vw;
    border-radius: 8vw;
  }
  .list-box .item .img-wrap + .txt-wrap {
    margin-top: 5.33vw;
  }
  .list-box .item .num {
    margin-bottom: 3.2vw;
    font-size: 4.27vw;
  }
  .list-box .item .tit {
    font-size: 6.4vw;
  }
  .list-box .item .desc {
    margin-top: 3.2vw;
    font-size: 4.27vw;
  }
  .list-box .item .notice-list {
    margin-top: 5.33vw;
  }
  .ico-value01::before {
    margin-bottom: 5.33vw;
    width: 29.87vw;
    height: 29.87vw;
  }
  .ico-value02::before {
    margin-bottom: 5.33vw;
    width: 29.87vw;
    height: 29.87vw;
  }
  .ico-value03::before {
    margin-bottom: 5.33vw;
    width: 29.87vw;
    height: 29.87vw;
  }
  .ico-value04::before {
    margin-bottom: 5.33vw;
    width: 29.87vw;
    height: 29.87vw;
  }
  .ico-feature01::before {
    margin-bottom: 6.4vw;
    width: 13.33vw;
    height: 13.33vw;
  }
  .ico-feature02::before {
    margin-bottom: 6.4vw;
    width: 13.33vw;
    height: 13.33vw;
  }
  .ico-feature03::before {
    margin-bottom: 6.4vw;
    width: 13.33vw;
    height: 13.33vw;
  }
  .ico-feature04::before {
    margin-bottom: 6.4vw;
    width: 13.33vw;
    height: 13.33vw;
  }
  .ico-coin {
    margin-bottom: 1.07vw;
    width: 21.33vw;
    height: 21.33vw;
  }
  .sec-kv {
    height: 191.47vw;
  }
  .sec-kv .txt-box {
    margin-top: 53.33vw;
  }
  .sec-kv .txt-box .txt-wrap .tit {
    font-size: 9.07vw;
  }
  .sec-kv .txt-box .txt-wrap .desc {
    margin-top: 4.27vw;
    font-size: 3.73vw;
  }
  .sec-kv .txt-box .txt-wrap .desc br {
    display: none;
  }
  .sec-kv .txt-box .btn-wrap {
    margin-top: 10.67vw;
  }
  .sec-kv .txt-box .btn-wrap .btn {
    width: 40vw;
    height: 13.33vw;
    font-size: 4.27vw;
    border-radius: 8vw;
  }
  .sec-kv .txt-box .btn-wrap .btn.line {
    border-width: 0.27vw;
  }
  .sec-kv .txt-box .btn-wrap .btn + .btn {
    margin-left: 3.2vw;
  }
  .sec-01 .sub-tit {
    font-size: 3.73vw;
  }
  .sec-01 .tit {
    font-size: 7.47vw;
  }
  .sec-01 .tit br {
    display: none;
  }
  .sec-01 .desc {
    margin-top: 4.8vw;
    width: 100%;
  }
  .sec-01 .img-wrap img {
    height: 94.13vw;
  }
  .sec-04 .process {
    max-width: 85.33vw;
  }
  .sec-04 .process .first .desc {
    margin-bottom: 4.27vw;
  }
  .sec-04 .process .first .circle {
    width: 37.33vw;
    height: 37.33vw;
  }
  .sec-04 .process .first .circle .tit {
    font-size: 5.33vw;
  }
  .sec-04 .process .second .circle {
    margin: 22.4vw auto 20.27vw;
    padding: 11.2vw;
    width: 68.27vw;
    height: 68.27vw;
    border-width: 0.27vw;
  }
  .sec-04 .process .second .circle .tit {
    padding: 0 8vw;
  }
  .sec-04 .process .third .circle {
    width: 43.2vw;
    height: 43.2vw;
  }
  .sec-04 .process .third .box-wrap:nth-child(2) {
    margin-right: -2.67vw;
  }
  .sec-04 .process .circle .tit {
    font-size: 4.27vw;
  }
  .sec-04 .process .desc {
    margin-top: 3.2vw;
    padding: 0 2.67vw;
    font-size: 3.73vw;
  }
  .sec-04 .process .line-wrap {
    top: 25.33vw;
    width: 52vw;
  }
  .sec-04 .process .ico-process01::before {
    width: 8.53vw;
    height: 8.53vw;
  }
  .sec-04 .process .ico-process02::before {
    margin-bottom: 0.8vw;
    width: 9.6vw;
    height: 9.6vw;
  }
  .sec-04 .process .ico-process03::before {
    width: 9.6vw;
    height: 9.6vw;
  }
  .sec-04 .process .ico-process04::before {
    margin-bottom: 1.6vw;
    width: 6.93vw;
    height: 6.93vw;
  }
  .sec-05 .banner {
    margin-top: 10.67vw;
    padding: 21.33vw 5.33vw;
    font-size: 7.47vw;
    border-radius: 8vw;
  }
  .sec-05 .banner::after {
    right: 2.67vw;
    width: 32vw;
    height: 32vw;
  }
  .sec-05 .banner .logo {
    margin-bottom: 6.4vw;
    width: 38.67vw;
    height: 6.93vw;
  }
  .sec-06 .table-wrap {
    padding: 5.33vw;
    font-size: 3.73vw;
    border-radius: 8vw;
  }
  .sec-06 .table-wrap .table-tit {
    margin-bottom: 5.33vw;
    font-size: 4.8vw;
  }
  .sec-06 .table-wrap .th {
    padding: 4.27vw 6.4vw;
    min-width: 21.33vw;
    width: 29%;
  }
  .sec-06 .table-wrap .td {
    padding: 4.27vw 6.4vw;
    width: 100%;
    border-bottom-width: 0.27vw;
    border-right-width: 0.27vw;
  }
  .sec-06 .graph-wrap {
    margin: 10.67vw auto;
    max-width: 153.07vw;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item {
    gap: 2.67vw;
    padding: 5.33vw;
    border-radius: 8vw;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item + .item {
    margin-top: 5.33vw;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit {
    gap: 1.07vw;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit strong {
    font-size: 4.8vw;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .tit small {
    font-size: 3.2vw;
  }
  .sec-06 .table-wrap.table-distribute.mo-only .table-list .item .desc {
    font-size: 3.73vw;
  }
  .sec-07 .roadmap-list {
    padding-top: 2.67vw;
  }
  .sec-07 .roadmap-list .item {
    margin-top: 5.33vw;
  }
  .sec-07 .roadmap-list .item .txt-wrap {
    padding: 6.4vw 8vw;
    border-radius: 2.13vw;
  }
  .sec-07 .roadmap-list .item .tit {
    font-size: 7.47vw;
  }
  .sec-07 .roadmap-list .item .desc-list {
    margin-top: 3.2vw;
    font-size: 4.27vw;
  }
  .sec-07 .roadmap-list .item .desc-list li {
    margin-top: 1.07vw;
  }
  .sec-08 .list-box .item .num {
    width: 13.33vw;
    height: 13.33vw;
    font-size: 6.4vw;
  }
  .sec-08 .list-box .item .sub-tit {
    margin-top: 3.73vw;
    font-size: 4.8vw;
  }
  .sec-10 .info-box {
    gap: 10.67vw;
  }
  .sec-10 .info-box .txt-list > li + li {
    margin-top: 13.33vw;
  }
  .sec-10 .info-box .txt-list .tit {
    margin-bottom: 5.33vw;
    font-size: 6.4vw;
  }
  .sec-10 .info-box .txt-list .sub-tit {
    margin-top: 5.33vw;
    font-size: 4.27vw;
  }
  .sec-10 .info-box .txt-list .notice-txt {
    margin-top: 1.07vw;
  }
  .sec-11 {
    padding: 0 0 24vw;
  }
  .sec-11 .banner {
    padding: 0 8vw;
    font-size: 7.47vw;
  }
  .sec-11 .banner::before {
    width: 50.67vw;
    height: 50.67vw;
  }
}