@charset "UTF-8";
@import "../util";

/* button */
.btn-wrap{
    display: flex;
    gap: 0.8rem;

    .btn{
        flex: 1;
    }

    &.flex-wrap{
        flex-wrap: wrap;
        row-gap: 1.2rem;
        .btn{
            flex: 1;

            &:last-child{
                flex: 1 100%;
            }
        }
    }

    &.flex-column{
        flex-direction: column;

        .btn{
            flex: none;
        }
    }
}

.btn{
    --btn-height-xxsmall: 3.2rem;
    --btn-height-xsmall: 3.4rem;
    --btn-height-small: 3.6rem;
    --btn-height-medium: 4.8rem;
    --btn-height-large: 5.6rem;
    --btn-border-radius-xxsmall: 0.6rem;
    --btn-border-radius-xsmall: 0.6rem;
    --btn-border-radius-small: 0.6rem;
    --btn-border-radius-medium: 0.6rem;
    --btn-border-radius-large: 1.2rem;

    --btn-fz-xxsmall: 1.4rem;
    --btn-fz-xsmall: 1.3rem;
    --btn-fz-small: 1.4rem;
    --btn-fz-medium: 1.6rem;
    --btn-fz-large: 1.6rem;

    --btn-ico-size-xsmall: 1.4rem;
    --btn-ico-size-medium: 1.6rem;

    --btn-color-line: var(--color-black);
    --btn-color-line-gray: var(--color-gray-3);
    --btn-color-line-gray2: var(--color-gray-3-2);
    --btn-color-line-green: var(--color-green-1);
    --btn-bg-primary: var(--color-yellow-3);
    --btn-bg-secondary: var(--color-yellow-2);
    --btn-bg-black: var(--color-black);
    --btn-bg-white: var(--color-white);
    --btn-bg-gray: var(--color-gray-2);
    --btn-color-text-white: var(--color-white);
    --btn-color-text-black: var(--color-black);
    --btn-color-text-gary: var(--color-gray-7);

    --btn-bg-disabled: var(--color-gray-3);
    --btn-color-text-disabled: var(--color-gray-4);
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.4rem;
    // flex: 1 1 auto;

    // size
    &.xxsmall{
        padding: 0 1rem;
        width: fit-content;
        height: var(--btn-height-xxsmall);
        font-size: var(--btn-fz-xxsmall);
        border-radius: var(--btn-border-radius-xxsmall);
    }
    &.xsmall{
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: var(--btn-height-xsmall);
        font-size: var(--btn-fz-xsmall);
        border-radius: var(--btn-border-radius-xsmall);

        [class*="ico-"]{
            margin-left: 0.4rem;
            width: var(--btn-ico-size-xsmall);
            height: var(--btn-ico-size-xsmall);
        }
    }
    &.small{
        height: var(--btn-height-small);
        font-size: var(--btn-fz-small);
        border-radius: var(--btn-border-radius-small);
    }
    &.medium{
        height: var(--btn-height-medium);
        font-size: var(--btn-fz-medium);
        border-radius: var(--btn-border-radius-medium);

        [class*="ico-"]{
            margin-left: 2rem;
            width: var(--btn-ico-size-medium);
            height: var(--btn-ico-size-medium);
        }
    }
    &.large{
        height: var(--btn-height-large);
        font-size: var(--btn-fz-large);
        border-radius: var(--btn-border-radius-large);
    }
    &.full{
        width: 100%;
    }

    // color
    &.primary{
        color: var(--btn-color-text-black);
        background-color: var(--btn-bg-primary);
    }
    &.primary2{
        color: var(--btn-color-text-black);
        background-color: var(--btn-bg-primary);
    }
    &.secondary{
        color: var(--btn-color-text-black);
        background-color: var(--btn-bg-secondary);
    }
    &.black{
        color: var(--btn-color-text-white);
        background-color: var(--btn-bg-black);
    }
    &.gray{
        color: var(--btn-color-text-gary);
        background-color: var(--btn-bg-gray);
    }
    &.white{
        color: var(--btn-color-text-black);
        background-color: var(--btn-bg-white);
    }
    &.line{
        color: var(--btn-color-text-black);
        border: 0.1rem solid var(--btn-color-line);
        background-color: var(--btn-bg-white);

        &.gray{
            border-color: var(--btn-color-line-gray);
        }
        &.gray2{
            border-color: var(--btn-color-line-gray2);
        }
        &.green{
            color: var(--btn-color-line-green);
            border-color: var(--btn-color-line-green);
        }
    }
    &.kakao{
        color: var(--btn-color-text-black);
        background-color: #FEE500;

        &::before{
            content: '';
            display: inline-block;
            margin-right: 0.6rem;
            width: 1.8rem;
            height: 1.8rem;
            @include bg('icon/ico-kakao.png');
        }
    }
    &.naver{
        color: var(--btn-color-text-white);
        background-color: #03C75A;

        &::before{
            content: '';
            display: inline-block;
            margin-right: 0.6rem;
            width: 1.6rem;
            height: 1.6rem;
            @include bg('icon/ico-naver.png');
        }
    }
    [class*="ico-"]{
        display: inline-block;
        @include bg('icon/ico-arrow-right-w.png');
    }

    //disabled
    &:disabled{
        color: var(--btn-color-text-disabled);
        background-color: var(--btn-bg-disabled);

        &.primary2{
            opacity: 0.5;
            background-color: var(--btn-bg-primary);
        }
    }
}

.btn-scroll{
    display: none;

    &.show{
        display: flex;
    }
}
.btn-consult{
    position: fixed;
    right: 1.2rem;
    bottom: calc(10.6rem + 1.2rem);
    font-size: 1.3rem;
    font-weight: 500;
    height: 4.8rem;
    border-radius: 100rem;
    gap: 0.4rem;
    
    &::before{
        content: '';
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        @include bg('icon/ico-consult.png');
    }
}

@media screen and (max-width: 360px) {
    .btn-wrap{
        gap: 2.22vw;
    
        &.flex-wrap{
            row-gap: 3.33vw;
        }
    }
    
    .btn {
        --btn-height-xxsmall: 8.89vw;
        --btn-height-xsmall: 9.44vw;
        --btn-height-small: 10.00vw;
        --btn-height-medium: 13.33vw;
        --btn-height-large: 15.56vw;
        --btn-border-radius-xxsmall: 1.67vw;
        --btn-border-radius-xsmall: 1.67vw;
        --btn-border-radius-small: 1.67vw;
        --btn-border-radius-medium: 1.67vw;
        --btn-border-radius-large: 3.33vw;

        --btn-fz-xxsmall: 3.89vw;
        --btn-fz-xsmall: 3.61vw;
        --btn-fz-small: 3.89vw;
        --btn-fz-medium: 4.44vw;
        --btn-fz-large: 4.44vw;

        --btn-ico-size-xsmall: 3.89vw;
        --btn-ico-size-medium: 4.44vw;

        padding: 0 3.89vw;

        // size
        &.xxsmall{
            padding: 0 2.78vw;
        }
        &.xsmall {
            padding-top: 2.78vw;
            padding-bottom: 2.78vw;

            [class*="ico-"] {
                margin-left: 1.11vw;
            }
        }

        &.medium {
            [class*="ico-"] {
                margin-left: 5.56vw;
            }
        }

        &.line {
            border-width: 0.28vw;
        }

        &.kakao {
            &::before {
                margin-right: 1.67vw;
                width: 5.00vw;
                height: 5.00vw;
            }
        }

        &.naver {
            &::before {
                margin-right: 1.67vw;
                width: 4.44vw;
                height: 4.44vw;
            }
        }
    }

    .btn-consult {
        right: 3.33vw;
        bottom: calc(29.44vw + 3.33vw);
        font-size: 3.61vw;
        height: 13.33vw;
        border-radius: 277.78vw;
        gap: 1.11vw;

        &::before {
            width: 5.00vw;
            height: 5.00vw;
        }
    }


}