@charset "UTF-8";
@import "../util";

/* check */
.check{
    input[type="checkbox"]{
        @include blind;

        &:checked{
            ~ label{
                &::before{
                    @include bg('icon/ico-check-b.png', $color: var(--color-yellow-3));
                    border-color: var(--color-yellow-3);
                }
            }
        }
    }
    label{
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-size: 1.6rem;
        cursor: pointer;

        &::before{
            content: '';
            display: inline-flex;
            margin: 0.3rem;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 0.5rem;
            border: 0.2rem solid var(--color-gray-3);
        }
    }
}
.check-sub{
    margin-top: 1.2rem;
    padding-left: 2rem;
}
/* checkbox */
.checkbox, .radio{
    --check-label-gap: 1.6rem;
    --check-label-padding: 0 2.2rem;
    --check-label-height: 5.6rem;
    --check-label-text-size: 1.6rem;
    --check-label-text-color: var(--color-gray-4);
    --check-label-bg-color: var(--color-gray-1);
    --check-label-border-color: var(--color-border-lighter);
    --check-label-border-radius: 1.2rem;

    --check-label-text-color-checked: var(--color-green-1);
    --check-label-bg-color-checked: var(--color-green-0);
    --check-label-border-color-checked: var(--color-green-1);

    --check-label-icon-size: 2rem;

    --check-check-gap: 1rem;

    input[type="checkbox"], input[type="radio"]{
        @include blind;

        &:checked{
            ~ label{
                color: var(--check-label-text-color-checked);
                border-color: var(--check-label-bg-color-checked);
                background-color: var(--check-label-bg-color-checked); 

                &::before{
                    background-image: url('#{$base-url}img/icon/ico-check-active.png');
                }
            }
        }
    }

    label{
        display: flex;
        align-items: center;
        gap: var(--check-label-gap);
        padding: var(--check-label-padding);
        width: 100%;
        height: var(--check-label-height);
        font-size: var(--check-label-text-size);
        color: var(--check-label-text-color);
        background-color: var(--check-label-bg-color);
        border-radius: var(--check-label-border-radius);
        border: 0.1rem solid var(--check-label-border-color);
        cursor: pointer;

        &::before{
            content: '';
            display: block;
            width: var(--check-label-icon-size);
            height: var(--check-label-icon-size);
            @include bg('icon/ico-check.png');
        }
    }

    ~ .checkbox, ~ .radio{
        margin-top: var(--check-check-gap);
    }
}

.input-wrap{
    --check2-label-padding: 0 3.2rem;
    --check2-label-height: 6.2rem;
    --check2-label-text-size: 1.8rem;
    --check2-label-text-color: var(--color-gray-10);
    --check2-label-bg-color: var(--color-white);
    --check2-label-border-color: var(--color-white);

    --check2-label-text-color-checked: var(--color-gray-10);
    --check2-label-bg-color-checked: var(--color-white); 
    --check2-label-border-color-checked: var(--color-white);

    &.type2{
        .checkbox, .radio{
            input[type="checkbox"], input[type="radio"]{
                &:checked{
                    ~ label{
                        color: var(--check2-label-text-color-checked);
                        border-color: var(--check2-label-bg-color-checked);
                        background-color: var(--check2-label-border-color-checked); 

                        &::before{
                            background-image: url('#{$base-url}img/icon/ico-check-active.png');
                        }
                    }
                }
            }

            label{
                padding: var(--check2-label-padding);
                height: var(--check2-label-height);
                font-size: var(--check2-label-text-size);
                font-weight: 700;
                color: var(--check2-label-text-color);
                background-color: var(--check2-label-bg-color);
                border-color: var(--check2-label-border-color);

                &::before{
                    order: 1;
                    margin-left: auto;
                }
            }

            ~ .checkbox, ~ .radio{
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .check{
        label{
            gap: 1.11vw;
            font-size: 4.44vw;
    
            &::before{
                margin: 0.83vw;
                width: 5.00vw;
                height: 5.00vw;
                border-radius: 1.39vw;
                border-width: 0.56vw;
            }
        }
    }
    .check-sub{
        margin-top: 3.33vw;
        padding-left: 5.56vw;
    }

    .checkbox, .radio{
        --check-label-gap: 4.44vw;
        --check-label-padding: 0 6.11vw;
        --check-label-height: 15.56vw;
        --check-label-text-size: 4.44vw;
        --check-label-border-radius: 3.33vw;

        --check-label-icon-size: 5.56vw;

        --check-check-gap: 2.78vw;
    }

    .input-wrap{
        --check2-label-padding: 0 8.89vw;
        --check2-label-height: 17.22vw;
        --check2-label-text-size: 5.00vw;
    }
}