@charset "UTF-8";
@import "../util";

.form-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &.gap-lagre{
        gap: 2.4rem;
    }
    &.gap-xlagre{
        gap: 3rem;
    }
}

/* input */
.input-wrap{
    --input-label-text-size: 1.6rem;
    --input-label-color-text: var(--color-gray-10);
    --input-label-gap: 1rem;

    --input-bg: var(--color-gray-1);
    --input-color-text: var(--color-black);
    --input-color-text-placeholder: var(--color-gray-4);
    --input-text-size: 1.6rem;
    --input-text-button-gap: 0.6rem;
    --input-padding: 0 1.6rem;
    --input-height: 5.6rem;
    --input-border-radius: 1.2rem;
    --input-color-border: var(--color-gray-1);
    // --input-color-border: var(--color-white);
    --input-color-border-active: var(--color-yellow-3);
    --input-color-border-error: var(--color-red);

    --input-timer-color-text: var(--color-red);

    .label-txt{
        display: block;
        margin-bottom: var(--input-label-gap);
        font-size: var(--input-label-text-size);
        font-weight: 500;
        color: var(--input-label-color-text);
        pointer-events: none; 

        &.required{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                top: 0.4rem;
                display: inline-block;
                margin-left: 0.4rem;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background-color: #FF4640;
            }
        }
    }
    .input-tit{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .label-txt{
            margin-bottom: 0;
        }
    }
    .input-txt{
        padding: 1.8rem 1.6rem;
        font-size: 1.6rem;
        border-radius: 1.2rem;
        background-color: var(--color-gray-1);
    }
    .input{
        display: flex;
        align-items: center;
        gap: var(--input-text-button-gap);
        padding: var(--input-padding);
        width: 100%;
        height: var(--input-height);
        font-size: var(--input-text-size);
        color: var(--input-color-text);
        border-radius: var(--input-border-radius);
        background-color: var(--input-bg);
        border: 0.2rem solid var(--input-color-border);

        &:focus-within:not(:read-only){
            border-color: var(--input-color-border-active);
        }
        &.disabled{
            color: var(--color-gray-6);
            background-color: var(--color-gray-3);
            border-color: var(--color-gray-3);
        }

        input[type="text"], input[type="tel"]{
            width: 100%;
            &::placeholder{
                color: var(--input-color-text-placeholder);
            }
            ~ *:not(input) {
                flex-shrink: 0;
            }
        }

        .timer{
            font-weight: 500;
            color: var(--input-timer-color-text);
        }
    }
    .error-msg{
        display: none;
    }
    &.error{
        .input{
            border-color: var(--input-color-border-error);
        }

        .error-msg{
            display: flex;
            align-items: center;
            margin-top: 0.6rem;
            font-size: 1.3rem;
            color: var(--color-red);
            
            &::before{
                content: '';
                display: inline-block;
                margin-right: 0.4rem;
                width: 1.4rem;
                height: 1.4rem;
                @include bg('icon/ico-error.png');
            }
        }
    }

    &:not(.flex){
        .input + .input{
            margin-top: 1rem;
        }
    }

    //column 2개씩
    &.column{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1rem;

        .label-txt{
            width: 100%;
        }
        .checkbox, .radio{
            // flex: 1;
            margin-bottom: 1rem;
            width: calc(50% - 0.4rem);

            ~ .checkbox, ~ .radio{
                margin-top: 0;
                margin-bottom: 1rem;
            }

            &:nth-of-type(2n){
                margin-left: 0.8rem;
            }
        }
    }

    //숫자 마스킹
    .dot-input-wrap {
        position: relative;
        display: flex;
        gap: 0.8rem;
        width: 48%;
        height: 100%;

        input{
            text-align: right;
        }

        .dots {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .dot {
                width: 1.4rem;
                height: 1.4rem;
                background: var(--color-gray-6);
                border-radius: 50%;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .form-list{
        gap: 5.56vw;
    
        &.gap-lagre{
            gap: 6.67vw;
        }
        &.gap-xlagre{
            gap: 8.33vw;
        }
    }
    
    /* input */
    .input-wrap{
        --input-label-text-size: 4.44vw;
        --input-label-gap: 2.78vw;
    
        --input-text-size: 4.44vw;
        --input-text-button-gap: 1.67vw;
        --input-padding: 0 4.44vw;
        --input-height: 15.56vw;
        --input-border-radius: 3.33vw;
    
        .label-txt{
            &.required{
                &::after{
                    top: 1.11vw;
                    margin-left: 1.11vw;
                    width: 1.11vw;
                    height: 1.11vw;
                }
            }
        }
        .input{
            border-width: 0.56vw;
        }
        .input-tit{
            margin-bottom: 2.78vw;
        }
        .input-txt{
            padding: 5.00vw 4.44vw;
            font-size: 4.44vw;
            border-radius: 3.33vw;
        }
        &.error{
            .error-msg{
                margin-top: 1.67vw;
                font-size: 3.61vw;
                
                &::before{
                    margin-right: 1.11vw;
                    width: 3.89vw;
                    height: 3.89vw;
                }
            }
        }

        &:not(.flex){
            .input + .input{
                margin-top: 2.78vw;
            }
        }
    
        //column 2개씩
        &.column{
            margin-bottom: -2.78vw;
            .checkbox, .radio{
                margin-bottom: 2.78vw;
                width: calc(50% - 1.11vw);
    
                ~ .checkbox, ~ .radio{
                    margin-bottom: 2.78vw;
                }
    
                &:nth-of-type(2n){
                    margin-left: 2.22vw;
                }
            }
        }

        //숫자 마스킹
        .dot-input-wrap {
            gap: 2.22vw;

            input{
                min-width: 2.78vw;
            }
    
            .dots {
                gap: 2.22vw;
    
                .dot {
                    width: 3.89vw;
                    height: 3.89vw;
                }
            }
        }
    }

}