@charset "UTF-8";
@import "../util";

/* select */
.select{
    --select-bg: var(--color-gray-1);
    --select-color-text: var(--color-black);
    --select-color-text-placeholder: var(--color-gray-4);
    --select-text-size: 1.6rem;
    --select-text-arrow-gap: 0.6rem;
    --select-padding: 0 1.6rem;
    --select-height: 5.5rem;
    --select-border-radius: 1.2rem;
    --select-color-border: var(--color-white);
    --select-color-border-active: var(--color-yellow-3);
    --select-color-border-error: var(--color-red);

    --select-arrow-size: 1.6rem;

    select{
        display: none;
    }
    .ui-select{
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--select-text-arrow-gap);
        padding: var(--select-padding);
        height: 5.2rem;
        font-size: var(--select-text-size);
        color: var(--select-color-text);
        border-radius: var(--select-border-radius);
        border: 0.1rem solid var(--color-gray-3);
        cursor: pointer;

        &::after{
            content: '';
            flex-shrink: 0;
            width: var(--select-arrow-size);
            height: var(--select-arrow-size);
            @include bg('icon/ico-arrow-down.png');
            transition: all 0.3s;
        }

        .value-txt{
            width: 100%;
            &.placeholder{
                color: var(--select-color-text-placeholder);
            }
        }

        .option-list{
            overflow-y: auto;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            margin-top: 0.4rem;
            max-height: 20rem;
            border: 0.1rem solid var(--color-gray-3);
            background: white;
            border-radius: 0.8rem;
            z-index: 10;
            box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);

            .option{
                padding: 1.6rem 2rem;
                border-bottom: 0.1rem solid var(--color-gray-2);
                cursor: pointer;

                &:last-child{
                    border-bottom: 0;
                }

                &:hover, &[aria-selected="true"]{
                    background-color: var(--color-gray-1);
                }
            }
        }

        &[aria-expanded="true"]{
            border-width: 0.2rem;
            border-color: var(--select-color-border-active);

            &::after{
                transform: rotate(-180deg);
            }
            .option-list{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.type2{
        .ui-select{
            padding: var(--select-padding);
            height: var(--select-height);
            background-color: var(--select-bg);
            border-width: 0.2rem;
            border-color: var(--select-color-border);

            .option-list{
                position: fixed;
                top: inherit;
                bottom: 0;
                margin-top: 0;
                border-radius: 2.4rem 2.4rem 0 0;
                border-width: 0;
                transform: translate(0, 100%);
                transition: transform 0.3s;

                .option{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem 3.2rem;
                    font-weight: 700;
                    border-bottom-width: 0;

                    &:hover, &[aria-selected="true"]{
                        background-color: var(--color-white);
                    }
                    &[aria-selected="true"]{
                        &::after{
                            content: '';
                            display: inline-block;
                            width: 2rem;
                            height: 2rem;
                            @include bg('icon/ico-check-active.png');
                        }
                    }
                }
            }

            &[aria-expanded="true"]{
                border-color: var(--select-color-border-active);

                //dimd
                &::before{
                    content: '';
                    display: block;
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    z-index: 999;
                }
                .option-list{
                    overflow-y: visible;
                    padding: 2rem 0 3.2rem;
                    transform: translate(0, 0);
                    max-height: none;
                    z-index: 999;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .select{
        --select-text-size: 4.44vw;
        --select-text-arrow-gap: 1.67vw;
        --select-padding: 0 4.44vw;
        --select-height: 15.28vw;
        --select-border-radius: 3.33vw;
    
        --select-arrow-size: 4.44vw;

        .ui-select{
            height: 14.44vw;
            border-width: 0.28vw;
    
            .option-list{
                margin-top: 1.11vw;
                max-height: 55.56vw;
                border-width: 0.28vw;
                border-radius: 2.22vw;
    
                .option{
                    padding: 4.44vw 5.56vw;
                    border-bottom-width: 0.28vw;
                }
            }
    
            &[aria-expanded="true"]{
                border-width: 0.56vw;
            }
        }
    
        &.type2{
            .ui-select{
                border-width: 0.56vw;
    
                .option-list{
                    border-radius: 6.67vw 6.67vw 0 0;
    
                    .option{
                        padding: 5.56vw 8.89vw;

                        &[aria-selected="true"]{
                            &::after{
                                width: 5.56vw;
                                height: 5.56vw;
                            }
                        }
                    }
                }
    
                &[aria-expanded="true"]{
                    .option-list{
                        padding: 5.56vw 0 8.89vw;
                    }
                }
            }
        }
    }
}